<#bs4Body>
<style>
    .info-column {
        width: 30%;
        font-weight: bold;
        text-align: right;
    }
    .info-cell{
        width: 70%;
        text-align: left;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }
</style>
    <div id="detail-modal" >
    	<form id="saveForm" style="width: 90%;">
    		<input id="id" name="id" type="hidden" value="${usercash.id!}" class="form-control"/>
    		<input id="_userId" name="userId" type="hidden" value="${usercash.userId!}" class="form-control"/>
    		<input id="_userCode" name="userCode" type="hidden" value="${usercash.userCode!}" class="form-control"/>
    		<input id="action" name="action" type="hidden" value="${usercash.action!}" class="form-control"/>
	        <table id="out-detail" class="table table-bordered" >
	            <tbody>
	            <tr>
	                <td class="info-column">柜员工号</td>
	                <td class="info-cell">${usercash.userCode!}
	                </td>
	            </tr>
	            <tr>
	                <td class="info-column">柜员姓名</td>
	                <td id="_userName"  class="info-cell">${usercash.userName!}</td>
	                <input id="inputuserName" name="userName" type="hidden" value="${usercash.userName!}"/>
	            </tr>
	            <tr>
	                <td class="info-column">交款金额</td>
	                <td class="info-cell">
	                	<input id="amountYuan" maxlength="10" name="amountYuan" type="text" value="${usercash.amountYuan!}" class="form-control"/>
	                </td>
	            </tr>
	           	<tr>
					<td class="info-column">大写金额</td>
					<td class="info-cell" style="word-wrap:break-word;word-break:break-all;"><font color="#FC1D24"><strong><span  id="bigAmount"></span></strong></font></td>
				</tr>
	             <tr>
	                <td class="info-column vertical-td">备注</td>
	                <td class="info-cell">
	                	<textarea style="width:200px; " id="notes" name="notes">${usercash.notes!}</textarea>
	                </td>
	            </tr>
	        </table>
        </form>
    </div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#common_autoCompleteUser/>
<script>
$(function(){
	userNameAutoCompleteOption.displayFieldName='serialNumber';
	$('#bigAmount').html($.common.changeNumMoneyToChinese($('#amountYuan').val()));
	$('#amountYuan').bind(' input propertychange ', function(){
		$('#bigAmount').html($.common.changeNumMoneyToChinese($('#amountYuan').val()));
	} );
	$("#amountYuan").on('input  propertychange',function(){
		//如果输入非数字，则替换为''
		this.value = this.value.replace(/[^\d\.]/g, '');
		//必须保证第一个为数字而不是.     
	    this.value = this.value.replace(/^\./g,'');
	    //保证只有出现一个.而没有多个.     
	    this.value = this.value.replace(/\.{2,}/g,'.');
	    //保证.只出现一次，而不能出现两次以上     
	    this.value = this.value.replace('.','$#$').replace(/\./g,'').replace('$#$','.');
	    //只能输入两位小数
	    this.value = this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');
	});
});

let formId = "saveForm";
$("#" + formId).validate({
    onkeyup: false,
    rules: {
    	amountYuan: {
            required: true,
            gt: 0.00,
            max: 999999.99
        },
        userCode: {
            required: true,
        }
    },
    messages: {
    	amountYuan: {
            required: "金额必填",
            gt: "金额必须大于{0}元",
            max: "金额不能超过{0}元"
        },
        userCode: {
            required: "员工工号必填",
        }
    },
    focusCleanup: true
});
function submitHandler(e) {
    if (!$.validate.form(formId)) {
        return false;
    }
    let url = "${contextPath}/cash/modify.action";
    let data = $.common.formToJSON(formId);
    $.operate.post(url, data);
    return true;
}
</script>
