<#bs4Body>
<style>
    .info-column {
        width: 30%;
        font-weight: bold;
        text-align: right;
    }
    .info-cell{
        width: 70%;
        text-align: left;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }
</style>
    <div id="detail-modal" >
    	<form id="saveForm" style="width: 90%;">
    		<input id="id" name="id" type="hidden" value="${usercash.id!}" class="form-control"/>
    		<input id="action" name="action" type="hidden" value="${usercash.action!}" class="form-control"/>
	        <table id="out-detail" class="table table-bordered" >
	            <tbody>
	            <tr>
	                <td class="info-column">柜员工号</td>
	                <td class="info-cell">
	                	<#bautoCompleteProvider
							_hiddenDomainId="userId" _hiddenDomainName="userId"
							_displayDomainId="userCode" _displayDomainName="userCode"
							_placeholder="" _text="${usercash.userCode!}"  _optionVariable="userNameAutoCompleteOption" />
	                </td>
	            </tr>
	            <tr>
	                <td class="info-column">柜员姓名</td>
	                <td class="info-cell">${usercash.userName!}</td>
	                <input id="inputuserName" name="userName" type="hidden" value="${usercash.userName!}"/>
	            </tr>
	            <tr>
	                <td class="info-column">交款金额</td>
	                <td class="info-cell">
	                	<input id="amountYuan" name="amountYuan" type="text" value="${usercash.amountYuan!}" class="form-control"/>
	                </td>
	            </tr>
	           	<tr>
					<td class="info-column">大写金额</td>
					<td class="info-cell" style="word-wrap:break-word;word-break:break-all;"><font color="#FC1D24"><strong><span  id="bigAmount"></span></strong></font></td>
				</tr>
	             <tr>
	                <td class="info-column vertical-td">备注</td>
	                <td class="info-cell">
	                	<textarea style="width:200px; " id="notes" name="notes">${usercash.notes!}</textarea>
	                </td>
	            </tr>
	        </table>
        </form>
    </div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#common_userJs/>
<script>
$(function(){
	userNameAutoCompleteOption.displayFieldName='serialNumber';
	$('#bigAmount').html($.common.changeNumMoneyToChinese(parseInt($('#amountYuan').val())));
	$('#amountYuan').bind(' input propertychange ', function(){
		$('#bigAmount').html($.common.changeNumMoneyToChinese(parseInt($('#amountYuan').val())));
	} );
});

let formId = "saveForm";
$("#" + formId).validate({
    onkeyup: false,
    rules: {
    	amountYuan: {
            required: true,
        },
        userCode: {
            required: true,
        }
    },
    messages: {
    	amountYuan: {
            required: "金额必填",
        },
        userCode: {
            required: "员工工号必填",
        }
    },
    focusCleanup: true
});
function submitHandler(e) {
    if (!$.validate.form(formId)) {
        return false;
    }
    let url = "${contextPath}/cash/modify.action";
    let data = $.common.formToJSON(formId);
    alert(JSON.stringify(data));
    $.operate.post(url, data);
    return true;
}
</script>
