<div class="row" id="table-payee" style="display: none">
    <div class="col-12">
        <table id="grid"
               data-buttons-class="primary"
               data-icons="bui.variable.icons">
            <thead>
            <tr>
            	<th data-radio="true"></th>
                <th data-field="cashNo"data-align="center" >
                    领款编号
                </th>
                <th data-field="amountYuan" data-align="center">
                   领款金额
                </th>
                <th data-field="createTime" data-align="center">
                    领款时间
                </th>
                 <th data-field="notes" data-align="center">
                    说明
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script>
    $(function () {
        var options = {
            url: "${contextPath}/cash/payeeList.action",
            queryParams:{
            	isStatistic:false,
            	cycleNo:cycleNo,
            	rows:10,
            	page:1
            }
        };
        $.table.init(options);
    });
</script>
