<div class="row">
    <div class="col-12">
        <table id="grid"
               data-buttons-class="primary"
               data-icons="bui.variable.icons">
            <thead>
            <tr>
            	<th data-radio="true"></th>
                <th data-field="cashNo"data-align="center" >
                    交款编号
                </th>
                <th data-field="amountYuan" data-align="center">
                   交款金额
                </th>
                <th data-field="createTime" data-align="center">
                    交款时间
                </th>
                 <th data-field="notes" data-align="center">
                    说明
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script>
    $(function () {
        var options = {
            url: "${contextPath}/cash/payerList.action",
            singleSelect : true,
            queryParams:{
            	cycleNo:cycleNo,
            	rows:10,
            	page:1
            }
        };
        $.table.init(options);
    });
</script>