<#bs4Body>
<div class="main-container container-fluid">
    <#bs4nav>
    <form  id="queryForm" role="form" >
        <div class="row row-cols-6">
             <div class="form-group col-auto">
                <label for="userId">柜员</label>
                <input param-multiple="true" name="userId" type="text" class="form-control"  id="userId" maxlength="50"/>
            </div>
            <div class="form-group col-auto">
                <label for="creatorId">财务员</label>
                <input param-multiple="true" name="creatorId" type="text" class="form-control"  id="creatorId" maxlength="50"/>
            </div>
            <div class="form-group col">
                <label for="state">当前状态</label>
                <select name="state" id="state"  class="form-control"></select>
                <#bcomboProvider _id="state" _provider="cashStateProvider" _queryParams='{emptyText:"-- 状态 --"}'/>
            </div>
            <#component_dateControls
            _labelText="创建时间"
            _startDateParam="createStartTime"
            _endDateParam="createEndTime"/>
            <div class="col align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="$.table.search()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>
</#bs4nav>
</div>

<div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
   <button id="btn_add" type="button" class="btn btn-primary" onclick="$.operate.addWithTitle(null,'30%','91%','新增领款')"><i class="fa fa-list"></i> 新增</button>
	<button id="btn_modify" type="button" class="btn btn-primary" onclick="$.operate.editWithTitle(null,'30%','91%','修改领款')"><i class="fa fa-pencil-square-o"></i> 修改</button>
	<button id="btn_delete" type="button" class="btn btn-primary" onclick="$.operate.removeWithTitle(null,'30%','60%','信息确认')"><i class="fa fa-trash-o"></i> 删除</button>
        <button id="btn-export" type="button" class="btn btn-primary" onclick="$.table.exportExcel('queryForm')"><i
            class="fa fa-file-excel-o"></i>
        导出
    </button>
</div>

<div class="row">
    <div class="col-12">
        <table id="grid"
               data-show-fullscreen="true"
               data-buttons-class="primary"
               data-icons="bui.variable.icons">
            <thead>
            <tr>
            	<th data-radio="true"></th>
                <th data-field="cashNo"data-align="center" >
                    领款编号
                </th>
                <th data-field="userCode" data-align="center"  >
                    柜员工号
                </th>
                <th data-field="userName" data-align="center">
                    柜员姓名
                </th>
                <th data-field="amountYuan" data-align="center">
                   领款金额
                </th>
                <th data-field="createTime" data-align="center">
                    创建时间
                </th>
                <th data-field="creatorCode" data-align="center" >
                    财务员工编号
                </th>
                <th data-field="creator"  data-align="center">
                    财务员工姓名
                </th>
                <th data-field="stateText" data-align="center">
                    状态标识
                </th>
                 <th data-field="notes" data-align="center">
                    说明
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#usercash_payeeListJs/>
<#common_userJs/>
<script>
    $(function () {
        let options = {
            //必须加这个唯一标识
            uniqueId: "id",
            createUrl: "${contextPath}/cash/addPayee.html",
            updateUrl: "${contextPath}/cash/modify.html/{id}",
            removeUrl: "${contextPath}/cash/delete.html/{id}"
        };
        $.table.init(options);
    });
</script>
