<#bs4Body>
<div class="main-container container-fluid">

    <form  id="queryForm" role="form" >
        <div class="row row-cols-6">
             <div class="form-group col">
                <label for="userId">柜员</label>
                <#bautoCompleteProvider _hiddenDomainId="userId" _hiddenDomainName="userId" _displayDomainId="userName" _displayDomainName="userName" _placeholder="" _optionVariable="userNameQueryAutoCompleteOption"/>
            </div>
            <div class="form-group col">
                <label for="creatorId">财务员</label>
                <#bautoCompleteProvider _hiddenDomainId="creatorId" _hiddenDomainName="creatorId" _displayDomainId="creatorName" _displayDomainName="creatorName" _placeholder="" _optionVariable="userNameQueryAutoCompleteOption"/>
            </div>
            <div class="form-group col">
                <label for="state">当前状态</label>
                <select name="state" id="state"  class="form-control"></select>
                <#bcomboProvider _id="state" _provider="cashStateProvider" _queryParams='{emptyText:"--全部--"}'/>
            </div>
            <#component_dateControls
            _labelText="创建时间"
            _startDateParam="createStartTime"
            _endDateParam="createEndTime"/>
            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="$.table.search()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>
    </form>

<hr>
<div>
        <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            <#resource code="addPayee">
            <button id="btn_add" type="button" class="btn btn-primary" onclick="$.operate.addWithTitle(null,'400px','540px','新增领款')"><i class="fa fa-plus"></i> 新增</button>
            </#resource>
            <#resource code="modifyPayee">
            <button id="btn_modify" type="button" class="btn btn-primary" onclick="modify()"><i class="fa fa-pencil-square-o"></i> 修改</button>
        </#resource>
        <#resource code="deletePayee">
            <button id="btn_delete" type="button" class="btn btn-primary" onclick="deleteCash()"><i class="fa fa-trash-o"></i> 删除</button>
        </#resource>
        <#resource code="exportPayee">
        <button id="btn-export" type="button" class="btn btn-primary" onclick="$.table.exportExcel('queryForm')"><i
                class="fa fa-file-excel-o"></i>
            导出
        </button>
        </#resource>
    </div>
        <table id="grid"
        	   data-title="领款管理列表"
               data-show-fullscreen="true"
               data-buttons-class="primary"
               data-icons="bui.variable.icons">
            <thead>
            <tr>
            	<th data-radio="true"></th>
                <th data-field="cashNoText"data-align="center" >
                    领款编号
                </th>
                <th data-field="userCode" data-align="center"  >
                    柜员工号
                </th>
                <th data-field="userName" data-align="center">
                    柜员名称
                </th>
                <th data-field="amountText" data-align="center">
                   领款金额
                </th>
                <th data-field="createTime" data-align="center" data-format="0.00" data-type="number">
                    创建时间
                </th>
                <th data-field="creatorCode" data-align="center" >
                    财务员工号
                </th>
                <th data-field="creator"  data-align="center">
                    财务员名称
                </th>
                <th data-field="stateText" data-align="center">
                    状态标识
                </th>
                 <th data-field="notes" data-align="center">
                    说明
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#usercash_payeeListJs/>
<#usercash_commonJs/>
<#common_userJs/>
<script>
    $(function () {
        let options = {
            //必须加这个唯一标识
            uniqueId: "id",
            createUrl: "${contextPath}/cash/addPayee.html",
            updateUrl: "${contextPath}/cash/modify.html?id={id}",
            removeUrl: "${contextPath}/cash/delete.html?id={id}",
            modalName: "领款列表查询"
        };
        $.table.init(options);
        setTimeout("statisticTotalAmount(1)", 500 );
        $("#query").click(function(){
        	totalAmount();
        });
    });
    
    function totalAmount(){
    	statisticTotalAmount(1);
    }
    
    function modify(){
    	var row=$("#grid").bootstrapTable('getSelections');
    	if (row.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return false;
        }
    	if(row[0].state == 2){
    		$.modal.alertError("已对账不能修改");
    		return false;
    	}
    	$.operate.editWithTitle(null,'400px','540px','修改领款');
    }
    
    function deleteCash(){
    	var row=$("#grid").bootstrapTable('getSelections');
    	if (row.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return false;
        }
    	if(row[0].state == 2){
    		$.modal.alertError("已对账不能删除");
    		return false;
    	}
    	$.operate.removeWithTitle(null, '56%', '56%','信息确认');
    }
</script>
