<style>
    .info-column {
        font-weight: bold ;
        text-align: center;
    }

    .info-cell {
        width: 15%;
    }
    .panel-heading{
        margin-top:.5rem
    }
</style>
<div class="container-fluid ">
    <div>
        <div class="breadcrumb">
            基本信息
        </div>
        <div id="base-info" class="panel-heading" >
            <div class="row row-cols-6" >
                <div class="form-group col">
                    <label class="info-column">卡号</label>
                    <input  type="text" class="form-control" value="${detail.cardAssociation.primary.cardNo!}" readonly/>
                </div>
                <div class="form-group col">
                    <label class="info-column">卡类别</label>
                    <input  type="text" class="form-control" value="${detail.cardAssociation.primary.cardTypeText!}" readonly/>
                </div>
                <div class="form-group col">
                    <label class="info-column">卡片状态</label>
                    <input  type="text" class="form-control" value="${detail.cardAssociation.primary.cardStateText!}" readonly/>
                </div>
                <div class="form-group col">
                    <label class="info-column">账户状态</label>
                    <input  type="text" class="form-control" value="${detail.cardAssociation.primary.disabledStateText!}" readonly/>
                </div>
            </div>
            <div class="row row-cols-6" >
                <div class="form-group col">
                    <label class="info-column">可用余额</label>
                    <% if(detail.cardAssociation.primary.cardType ==10) { %>
                    <input  type="text" class="form-control" value="${detail.accountFund.availableAmountText!}" readonly/>
                    <% }else{ %>
                    <input  type="text" class="form-control" value="***" readonly/>
                    <% } %>
                </div>
                <div class="form-group col">
                    <label class="info-column">冻结金额</label>
                    <% if(detail.cardAssociation.primary.cardType ==10) { %>
                    <input  type="text" class="form-control" value="${detail.accountFund.frozenAmountText!}" readonly/>
                    <% }else{ %>
                    <input  type="text" class="form-control" value="***" readonly/>
                    <% } %>
                </div>
                <div class="form-group col">
                    <label class="info-column">创建人</label>
                    <input  type="text" class="form-control" value="${detail.cardAssociation.primary.creator!}" readonly/>
                </div>
                <div class="form-group col">
                    <label class="info-column">创建时间</label>
                    <input  type="text" class="form-control" value="${detail.cardAssociation.primary.cardCreateTime!}" readonly/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="breadcrumb">
            开卡人信息
        </div>
        <div  id="customerInfo" class="panel-heading">
            <div class="row row-cols-6">
                <div class="form-group col">
                    <label class="info-column">客户编号</label>
                    <input  type="text" class="form-control" value="${detail.customer.code!}" readonly/>
                </div>
                <div class="form-group col">
                    <label class="info-column">客户名称</label>
                    <input  type="text" class="form-control" value="${detail.customer.name!}" readonly/>
                </div>
                <div class="form-group col">
                    <label class="info-column">联系方式</label>
                    <input  type="text" class="form-control" value="${detail.customer.customerContactsPhone!}" readonly/>
                </div>
                <div class="form-group col">
                    <label class="info-column">联系地址</label>
                    <input  type="text" class="form-control" value="${detail.customer.certificateAddr!}" readonly/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <% if(detail.cardAssociation.association.~size>0) { %>
        <div class="breadcrumb">
            关联卡信息
        </div>
        <div  id="cardAssociation" class="panel-heading" >
            <table  class="table table-bordered">
                <tbody style="text-align: center">
                <tr>
                    <td class="info-column">卡号</td>
                    <td class="info-column">卡类别</td>
                    <td class="info-column">开卡时间</td>
                    <td class="info-column">卡片状态</td>
                </tr>
                <% for(item in detail.cardAssociation.association) { %>
                <tr>
                    <td class="info-cell">${item.cardNo!}</td>
                    <td class="info-cell">${item.cardTypeText!}</td>
                    <td class="info-cell">${item.cardCreateTime!}</td>
                    <td class="info-cell">${item.cardStateText!}</td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <% } %>
    </div>
    <div style="text-align: center" class="mt-5">
        <button type="button"  class="btn btn-secondary px-5" onclick="history.go(-1)">
            返回
        </button>
    </div>
</div>
