<#bs4Body>
<style>
    .tab-info {
        padding: 3rem;
    }
</style>
<div class="main-container container-fluid">
    <#bs4nav>
</#bs4nav>
    <ul id="detailTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="card-tab" uri="/accountQuery/accountDetail.html" data-toggle="tab" href="#cardInfo"
               role="tab" aria-selected="true">
                <h4>卡信息</h4>
            </a>
        </li>
        <#resource code="frozen-fund">
        <% if(isMaster) { %>
            <li class="nav-item">
                <a class="nav-link" id="frozen-fund-tab" uri="/fund/frozen.html" data-toggle="tab" href="#frozen-fund" role="tab">
                    <h4>冻结资金</h4>
                </a>
            </li>
        <% } %>
       </#resource>

       <#resource code="unfrozen-fund">
        <% if(isMaster) { %>
            <li class="nav-item">
                <a class="nav-link" id="unfrozen-fund-tab" uri="/fund/unfrozenFund.html" data-toggle="tab" href="#unfrozen-fund" role="tab">
                    <h4>解冻资金</h4>
                </a>
            </li>
        <% } %>
       </#resource>
        <#resource code="frozen-account">
            <li class="nav-item">
                <a class="nav-link" id="frozen-account-tab" uri="/account/frozenAccount.html" data-toggle="tab" href="#frozen-account" role="tab">
                    <h4>冻结账户</h4>
                </a>
            </li>
       </#resource>
        <#resource code="unfrozen-account">
            <li class="nav-item">
                <a class="nav-link" id="unfrozen-account-tab" uri="/account/unfrozenAccount.html" data-toggle="tab" href="#unfrozen-account" role="tab">
                    <h4>解冻账户</h4>
                </a>
            </li>
       </#resource>
    </ul>
</div>

<div id="detailTabContent" class="tab-content border-top-0">
    <div class="tab-pane tab-info" id="cardInfo" role="tabpanel">
    </div>
    <div class="tab-pane tab-info" id="frozen-fund" role="tabpanel">
    </div>
    <div class="tab-pane tab-info" id="unfrozen-fund" role="tabpanel">
    </div>
    <div class="tab-pane tab-info" id="frozen-account" role="tabpanel">
    </div>
    <div class="tab-pane tab-info" id="unfrozen-account" role="tabpanel">
    </div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/form.formatter.js"></script>
<link rel="stylesheet" href="${contextPath}/resources/css/sword.css">
<script>
    let prefix = '${contextPath}';
    let cardNo = $.common.getQueryVariable("cardNo");
    let accountId = $.common.getQueryVariable("accountId");
    //初始化函数
    $(() => {
        let options = {
            id: 'detailTab',
            activeId: 'card-tab',
            prefixUrl: prefix,
            params: {
                cardNo: cardNo,
                accountId: accountId
            }
        };
        $.tab.init(options);
        //监听tab切换
        $.tab.onChange()
    });

</script>
