
<div class="main-container container-fluid">
    <div>
        <form id="frozen-account-form">
            <input id="accountId" name="accountId" value="${detail.cardAssociation.primary.accountId!}" type="hidden">
            <input id="disabledState3" name="disabledState" value="${detail.cardAssociation.primary.disabledState!}" type="hidden">
            <div id="baseInfo" >
                <div class="row row-cols-6">
                    <div class="form-group col">
                        <label class="info-column">园区卡号</label>
                        <input  type="text" class="form-control" value="${detail.cardAssociation.primary.cardNo!}" readonly/>
                    </div>
                    <div class="form-group col">
                        <label class="info-column">客户名称</label>
                        <input  type="text" class="form-control" value="${detail.customer.name!}" readonly/>
                    </div>
                    <div class="form-group col">
                        <label class="info-column">可用余额</label>
                        <input  type="text" class="form-control" value="${detail.accountFund.availableAmountText!}" readonly/>
                    </div>
                    <div class="form-group col">
                        <label class="info-column">手动冻结金额</label>
                        <input  type="text" class="form-control" value="${detail.accountFund.manFrozenText!}" readonly/>
                    </div>

                </div>
                <div class="row row-cols-1">
                    <div class="form-group col-4">
                        <label class="info-column">备注</label>
                        <textarea id="mark" name="notes" class="form-control" maxlength="30" rows="3" placeholder="不超过30个字符"></textarea>
                    </div>
                </div>
           </div>
            <div align="center" class="mt-5">
                <button id="frozenAccount" type="button"  class="btn btn-primary px-5"   onclick="submitFrozenAccount()">
                    冻结账户
                </button>
                <button id="recordAccount" type="button" class="btn btn-primary px-5" onclick="showOrHideFrozenAccountRecord()">
                    冻结记录
                </button>
                <button type="button" class="btn btn-secondary px-5" onclick="history.go(-1)">
                    返回
                </button>
            </div>
        </form>
    </div>
    <div class="row" id="table-div-frozen-account" style="display: none">
        <form id="query-frozen-account">
            <input type="hidden" id="accountId" name="accountId" value="${detail.cardAssociation.primary.accountId!}">
            <input type="hidden" name="operateTypeList[0]" value="29">
        </form>
        <div class="col-12">
            <table id="frozenAccuntTable"
                   data-title="冻结记录"
                   data-buttons-class="primary"
                   data-icons="bui.variable.icons">
                <thead>
                <tr>
                    <th data-field="operateTime" data-sortable="true" data-align="center" data-sort-name="operate_time">
                        冻结时间
                    </th>
                    <th data-field="operatorNo" data-align="center">
                        操作员工号
                    </th>
                    <th data-field="operatorName" data-align="center">
                        操作员
                    </th>
                    <th data-field="notes" data-align="center">
                        备注
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
<#account_frozenIndexJs/>
<script type="text/javascript"
	src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
