<style>
    .info-column-frozen-fund {
        width: 20%;
        font-weight: bold;
        text-align: right;
    }

    .info-cell-frozen-fund {
        width: 30%;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }
</style>
<div class="main-container container-fluid">
    <div>
        <div class="panel-body" style="display: block;">
            <form id="frozen-account-form">
            	<input id="accountId" name="accountId" value="${detail.cardAssociation.primary.accountId!}" type="hidden">
                <input id="disabledState3" name="disabledState" value="${detail.cardAssociation.primary.disabledState!}" type="hidden">
                <table id="baseInfo" class="table table-bordered">
                    <tbody>
                    <tr>
                        <td class="info-column-frozen-fund">园区卡号</td>
                        <td class="info-cell-frozen-fund">${detail.cardAssociation.primary.cardNo!}</td>
                        <td class="info-column-frozen-fund">客户名称</td>
                        <td class="info-cell-frozen-fund">${detail.customer.name!}</td>
                    </tr>
                    <tr>
                        <td class="info-column-frozen-fund">可用余额</td>
                        <td class="info-cell-frozen-fund">${detail.accountFund.availableAmountText!}</td>
                        <td class="info-column-frozen-fund">手动冻结金额</td>
                        <td class="info-cell-frozen-fund">${detail.accountFund.frozenAmountText!}</td>
                    </tr>
                    <tr>
                        <td class="vertical-td info-column-frozen-fund ">备注</td>
                        <td><textarea id="mark" name="notes" class="form-control" rows="3" maxlength="30" placeholder="不超过30个字符"></textarea></td>
                    </tr>
                    </tbody>
                </table>
                <div style="margin: auto" align="center">
                    <button id="frozenAccount" type="button"  class="btn btn-primary"   onclick="submitFrozenAccount()">
                        冻结账户
                    </button>
                    <button id="recordAccount" style="margin-left: 50px" type="button" class="btn btn-outline-primary" onclick="showOrHideFrozenAccountRecord()">
                        冻结记录
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="table-div-frozen-account" style="display: none">
        <form id="query-frozen-account">
            <input type="hidden" id="accountId" name="accountId" value="${detail.cardAssociation.primary.accountId!}">
            <input type="hidden" name="operateTypeList[0]" value="29">
        </form>
        <div class="col-12">
            <table id="frozenAccuntTable"
                   data-title="冻结记录"
                   data-buttons-class="primary"
                   data-icons="bui.variable.icons">
                <thead>
                <tr>
                    <th data-field="operateTime" data-sortable="true" data-align="center" data-sort-name="operate_time">
                        冻结时间
                    </th>
                    <th data-field="operatorNo" data-align="center">
                        操作员工号
                    </th>
                    <th data-field="operatorName" data-align="center">
                        操作员
                    </th>
                    <th data-field="notes" data-align="center">
                        备注
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<#account_frozenIndexJs/>
<script type="text/javascript"
	src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
