<#bs4Body>
<div class="main-container container-fluid">
    <#bs4nav>
    <form  id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col-auto">
                <label for="cardType">卡类别</label>
                <select id="cardType" name="cardType" class="form-control"></select>
                <#bcomboProvider _id="cardType" _provider="cardTypeProvider" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col-auto">
                <label for="cardState">当前状态</label>
                <select id="cardState" name="cardState" class="form-control"></select>
                <#bcomboProvider _id="cardState" _provider="cardStateProvider" _queryParams='{emptyText:"-- 状态 --"}'/>
            </div>
            <div class="form-group col-auto">
                <label for="cardNo">卡号</label>
                <input type="text" class="form-control" name="cardNo" id="cardNo" maxlength="50"/>
            </div>
            <div class="form-group col-auto">
                <label for="startDate">开始时间:</label>
                <div class="form-inline">
                    <div class="input-group">
                        <input type="text" name="startDate" id="startDate" class="form-control date laydatetime laystart"
                               value="${startDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="startDate" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>&nbsp;&nbsp;至&nbsp;&nbsp;
                    <div class="input-group" >
                        <input type="text" name="endDate" id="endDate" class="form-control date laydatetime layend"
                               value="${endDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}"/>
                        <div class="input-group-append">
                            <label for="endDate" class="input-group-text fa fa-calendar"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="$.table.search()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>
</div>

<div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
    <button id="btn_edit" type="button" class="btn btn-primary" onclick="openUpdateHandler()"><i class="fa fa-pencil-square-o"></i> 查看</button>
    <button id="btn_cancel" type="button" class="btn btn-primary" onclick="openCancelHandler()"><i class="fa fa-ban"></i> 导出</button>
</div>

<div class="row">
    <div class="col-12">
        <table id="bootstrap-table"
               data-show-fullscreen="true"
               data-buttons-class="primary"
               data-icons="bui.variable.icons"></table>
    </div>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/sword.js"></script>
<script>
    var prefix = "${contextPath}/accountQuery";
    $(function() {
        var options = {
            url: prefix + "/page.action",
            createUrl: prefix + "/add.html",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "card_create_time",
            modalName: "卡查询",
            columns: [{
                checkbox: true
            },
                {
                    field: 'cardNo',
                    title: '卡号',
                    align: 'center',
                },
                {
                    field: 'cardType',
                    title: '卡类别',
                    align: 'center',
                },
                {
                    field: 'customer.code',
                    title: '客户编号',
                    align: 'center',
                },
                {
                    field: 'customer.name',
                    title: '客户名称',
                    align: 'center',
                },
                {
                    field: 'customer.contactsPhone',
                    title: '联系方式',
                    align: 'center',
                },
                {
                    field: 'cardCreateTime',
                    title: '开卡时间',
                    align: 'center',
                },{
                    field: 'cardState',
                    title: '状态',
                    align: 'center',
                }]
        };
        $.table.init(options);
    });
</script>
