<#bs4Body>
<div class="container-fluid">

    <form id="queryForm" role="form">
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="cardType">卡类别</label>
                <select id="cardType" name="cardType" class="form-control"></select>
                <#bcomboProvider _id="cardType" _provider="cardTypeProvider" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col">
                <label for="cardState">卡片状态</label>
                <select name="cardState" id="cardState" class="form-control"></select>
                <#bcomboProvider _id="cardState" _provider="cardStateProvider" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col">
                <label for="cardState">账户状态</label>
                <select name="disableState" id="disableState" class="form-control"></select>
                <#bcomboProvider _id="disableState" _provider="disableStateProvider" _queryParams='{emptyText:"-- 全部 --"}'/>
            </div>
            <div class="form-group col-auto" style="width: 350px">
                <label for="customerCode">客户</label>
                <div class="input-group">
                	<#bautoCompleteProvider _hiddenDomainId="customerIds[0]" _hiddenDomainName="customerIds[0]" _displayDomainId="customerCode" _displayDomainName="customerCode" _placeholder="" _optionVariable="customerNameQueryAutoCompleteOption"/>
            		<input type="text" class="form-control" id="show_customer_name" readonly/>
            	</div>
            </div>
            <div class="form-group col-auto">
                <label for="cardNo">卡号</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="cardNos[0]" id="cardNo" maxlength="12"/>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><a id="idCardRead" href="javascript:;"  onclick="readCard()">刷卡</a></span>
                    </div>
                </div>
            </div>
            <#component_dateControls
            _labelText="创建时间:"
            _startDateParam="startDate"
            _endDateParam="endDate"
            _resetDate="false"
            />
            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="$.form.reset()"><i
                        class="fa fa-refresh"></i> 清空
                </button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="$.table.search()"><i
                        class="fa fa-search"></i> 查询
                </button>
            </div>
        </div>
    </form>

<hr>
<div class="row">
    <div class="col-12">
        <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            <#resource code="account-detail-tab">
            <button id="btn_query" type="button" class="btn btn-primary" onclick="redirectToDetail('100%','90%')"><i
                    class="fa fa-eye"></i> 查看
            </button>
        </#resource>
        <#resource code="account-export">
        <button id="btn-export" type="button" class="btn btn-primary" onclick="$.table.exportExcel('queryForm')"><i
                class="fa fa-file-excel-o"></i>
            导出
        </button>
    </#resource>
    </div>
        <table id="grid"
               class="table"
               data-title="卡查询"
               data-show-fullscreen="true"
               data-buttons-class="primary"
               data-icons="bui.variable.icons">
            <thead>
            <tr>
                <th data-radio="true" ></th>
                <th data-field="cardNo" data-formatter="cardNoFormatter" data-align="center">
                    卡号
                </th>
                <th data-field="holdName" data-align="center">
                    持卡人
                </th>
                <th data-field="cardTypeText"  data-align="center" >
                    卡类别
                </th>
                <th data-field="cardFaceText"  data-align="center" >
                    卡面信息
                </th>
                <th data-field="customerCode" data-align="center">
                    客户编号
                </th>
                <th data-field="customerName" data-align="center">
                    客户名称
                </th>
                <th data-field="customerSubTypeName" data-align="center">
                    身份类型
                </th>
                <th data-field="customerContactsPhone" data-align="center">
                   客户电话
                </th>
                <th data-field="cardCreateTime"  data-align="center">
                    开卡时间
                </th>
                <th data-field="cardStateText" data-align="center">
                    卡片状态
                </th>
                <th data-field="disabledStateText" data-align="center">
                    账户状态
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#common_cardBaseJs/>
<#common_customerJs/>
<#accountquery_indexJs/>

