
<div class="main-container container-fluid">
    <form id="unfrozen-account-form">
        <input id="accountId" name="accountId" value="${detail.cardAssociation.primary.accountId!}" type="hidden">
        <input id="disabledState2" name="disabledState2" value="${detail.cardAssociation.primary.disabledState!}" type="hidden">
        <div id="baseInfo">
            <div class="row row-cols-1">
                <div class="col-4">
                    <label>备注</label>
                    <textarea id="mark"name="notes" class="form-control"
                        maxlength="30" rows="3" placeholder="不超过30个字符"></textarea>
                </div>
            </div>
        </div>
        <div align="center" class="mt-5">
            <button id="unfrozen" type="button" class="btn btn-primary px-5" onclick="submitUnFrozenAccount()">
                解冻账户
            </button>
            <button type="button" class="btn btn-secondary px-5" onclick="history.go(-1)">
                返回
            </button>
        </div>
    </form>
</div>
<#account_unfrozenIndexJs/>
