<style>
    .info-column-frozen-fund {
        width: 20%;
        font-weight: bold;
        text-align: right;
    }

    .info-cell-frozen-fund {
        width: 30%;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }
</style>
<div class="main-container container-fluid">
    <div>
        <div class="panel-body" style="display: block;">
            <form id="unfrozen-account-form">
            	<input id="accountId" name="accountId" value="${accountId!}" type="hidden">
                <table id="baseInfo" class="table table-bordered">
                    <tbody>
	                    <tr>
	                        <td class="vertical-td info-column-frozen-fund ">备注</td>
	                        <td><textarea id="mark" name="mark" class="form-control" rows="3" placeholder="不超过30个字符"></textarea></td>
	                    </tr>
                    </tbody>
                </table>
                <div style="margin: auto" align="center">
                    <button id="unfrozen" type="button" class="btn btn-outline-primary" onclick="submitFrozen()">
                        解冻账户
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<#fund_unfrozenIndexJs/>
