<style>
    .info-column-frozen-fund {
        width: 20%;
        font-weight: bold;
        text-align: right;
    }

    .info-cell-frozen-fund {
        width: 30%;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }

    .row-interval{
        margin-top:1rem;
        margin-bottom: 1rem;
    }
</style>
<div class="container-fluid">
    <div >
        <form id="frozen-fund-form">
            <div id="baseInfo" >
                <div class="row row-cols-6">
                    <div class="form-group col">
                        <label class="info-column">园区卡号</label>
                        <input  type="text" class="form-control" value="${detail.cardAssociation.primary.cardNo!}" readonly/>
                    </div>
                    <div class="form-group col">
                        <label class="info-column">客户名称</label>
                        <input  type="text" class="form-control" value="${detail.customer.name!}" readonly/>
                    </div>
                    <div class="form-group col">
                        <label class="info-column">可用余额</label>
                        <input  type="text" class="form-control" value="${detail.accountFund.availableAmountText!}" readonly/>
                    </div>
                    <div class="form-group col">
                        <label class="info-column">手动冻结金额</label>
                        <input  type="text" class="form-control" value="${detail.accountFund.frozenAmountText!}" readonly/>
                    </div>
                    <div class="form-group  col">
                        <label class="info-column">冻结金额<i class="red">*</i></label>
                        <input id="amount" name="amount" type="number"
                               oninput="limitNum(this)"
                               class="form-control" val-formatter="yuanToFen"/>
                    </div>

                </div>
                <div class="row row-cols-1">
                    <div class="form-group  col-6">
                        <label class="info-column">备注</label>
                        <textarea id="mark" name="mark" class="form-control" rows="3" placeholder="不超过30个字符"></textarea>
                    </div>
                </div>
            </div>
            <div style="margin: auto" align="center">
                <button id="frozen" type="button" class="btn btn-primary" onclick="submitFrozen()">
                    冻结资金
                </button>
                <button id="record" style="margin-left: 50px" type="button" class="btn btn-outline-primary" onclick="switchTableDisplay()">
                    冻结记录
                </button>
            </div>
        </form>
    </div>
    <div class="row" id="table-div" style="display: none">
        <form id="queryForm">
            <input type="hidden" id="fundAccountId" name="fundAccountId" value="${detail.cardAssociation.primary.fundAccountId!}">
        </form>
        <div class="col-12">
            <table id="grid"
                   data-title="冻结记录"
                   data-buttons-class="primary"
                   data-icons="bui.variable.icons">
                <thead>
                <tr>
                    <th data-field="amountText" data-align="center">
                        冻结金额
                    </th>
                    <th data-field="freezeTime" data-sort-name="operate_time">
                        冻结时间
                    </th>
                    <th data-field="opNo" data-align="center">
                        操作员工号
                    </th>
                    <th data-field="opName" data-align="center">
                        操作员
                    </th>
                    <th data-field="description" data-align="center">
                        备注
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<#fund_frozenIndexJs/>
