<style>
.info-column-frozen-fund {
	width: 20%;
	font-weight: bold;
	text-align: right;
}

.info-cell-frozen-fund {
	width: 30%;
}

.vertical-td {
	display: table-cell;
	vertical-align: middle !important;
}
</style>
<div class="main-container container-fluid">
	<div>
		<button id="unfrozenBtn" type="button" class="btn btn-outline-primary"
			onclick="">解冻资金</button>
		<form id="queryForm">
			<input type="hidden" id="accountId" name="accountId"
				value="${accountId!}">
		</form>
		<div class="panel-body" style="display: block;">
			<div class="col-12">
				<table id="unfrozenTable" data-title="冻结记录" data-unique-id="id"
					data-buttons-class="primary" data-icons="bui.variable.icons">
					<thead>
						<tr>
							<th data-checkbox="true"></th>
							<th data-field="amountText" data-align="amount">冻结金额</th>
							<th data-field="description" data-align="center">冻结备注</th>
							<th data-field="freezeTime" data-align="center">冻结时间</th>
							<th data-field="opNo" data-align="center">冻结员工号</th>
							<th data-field="opName" data-align="center">冻结员</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- 解冻弹出模态框 -->
  <div class="modal fade" id="unfrozenModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">解冻确认</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        	确认解冻资金？
        	<br>
        	解冻说明：<textarea rows="3" cols="15"  id="remark" name="remark"></textarea> 
        </div>
        <!-- 底部 -->
        <div class="modal-footer">
        	<button type="button" id="unfrozenOkBtn" class="btn btn-secondary" data-dismiss="modal">解冻</button>
          	<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        </div>
   
      </div>
    </div>
  </div>
<#fund_unfrozenIndexJs />
<#common_commonJs/>