
	<div>
		<button id="unfrozenBtn" type="button" class="btn btn-primary"
			onclick="">解冻资金</button>
		<form id="queryForm">
			<input type="hidden" id="accountId" name="accountId"
				value="${account.accountId!}">
			<input type="hidden" id="fundAccountId" name="fundAccountId"
				   value="${account.fundAccountId!}">
		</form>
		<div class="panel-body" style="display: block;">
			<table id="unfrozenTable" data-title="冻结记录" data-unique-id="id"
				data-buttons-class="primary" data-icons="bui.variable.icons">
				<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="amountText" data-align="amount">冻结金额</th>
						<th data-field="description" data-align="center">冻结备注</th>
						<th data-field="freezeTime" data-align="center">冻结时间</th>
						<th data-field="opNo" data-align="center">冻结员工号</th>
						<th data-field="opName" data-align="center">冻结员</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div style="text-align: center;" class="mt-5">
		<button type="button"  class="btn btn-secondary px-5" onclick="history.go(-1)">
			返回
		</button>
	</div>
<#fund_unfrozenIndexJs />
<#common_commonJs/>
