<#bs4Body>
<style>
    .table>tbody>tr>td{
        border:0px;
    }
</style>
<div class="container-fluid">
    <div id="update-modal" style="width: 500">
        <form id="save-form">
        	<input type="hidden" name="frozenIds"
                               value="${frozenIds!}">
                        <input type="hidden" id="accountId" name="accountId"
                               value="${accountId!}">
            <div class="form-group col-12">
            		<font size="4">确认解冻金额？</font> 
                    <p>解冻说明
                    &nbsp;
                        <textarea id="remark" name="remark" class="form-control" rows="3" placeholder="不超过30个字符"></textarea>
            </div>
        </form>
    </div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script>
    $(() => {
            $.modal.changeEnsureTxt("解冻")
        }
    );

    function submitHandler() {
        let data = $.common.formToJSON('save-form');
        data.frozenIds = data.frozenIds.split(',');
        let url = '${contextPath}/fund/unfrozen.action';
        $.operate.post(url, data);
    }
</script>
