<#bs4Body>
<div class="container-fluid">
    <form id="queryCardInfoForm"  role="form" action="${contextPath}/bindBankCard/queryCard.html" method="get">
		<input type="text" name="" hidden data-text="一个input时占位解决自动提交">
        <div class="row row-cols-6">
            <div class="form-group col-auto">
                <label for="cardNo">卡号</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="cardNo" value="${cardNo!}" id="cardNo" maxlength="12"/>
                </div>
            </div>
            <div class="col-auto align-self-center mt-3">
            	<#resource code="bindBankCard_query_cardInfo">
	                <button id="query" type="button" class="btn btn-primary"  onclick="readCard()">
	                <i class="fa fa-search">刷园区主卡</i>
	                </button>
					<button id="authBindBtn" type="button" class="btn btn-primary" style="display: none">授权绑定</button>
                </#resource>

            </div>
        </div>
    </form>
	<div id="cardInfoDiv">
	</div>
	 <!-- 已绑定银行卡列表 -->
	<div id="bankCardTableDiv" style="display: none" >
		<div class="breadcrumb">
             银行卡绑定列表
        </div>
        <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            <button id="refreshBtn" type="button" class="btn btn-primary" >
                <i class="fa fa-refresh">刷新</i>
            </button>
            <#resource code="add_bindBankCard">
            <button id="openAddHtmlBtn" type="button" class="btn btn-primary">
                <i class="fa fa-plus">添加银行卡</i>
            </button>
            </#resource>
        </div>
		<table id="bankCardTable" data-title="银行卡列表" data-show-fullscreen="true"
			data-buttons-class="primary" data-icons="bui.variable.icons">
			<thead>
				<tr>
					<th data-radio="true"></th>
					<th data-field="bankNo" data-align="center">银行卡号</th>
					<th data-field="openingBank" data-align="center">银行名称</th>
					<th data-field="name" data-align="center">账户名称</th>
					<th data-field="accountType" data-align="center">账户类型</th>
					<th data-field="status" data-align="center">状态</th>
					<th data-field="operatorName" data-align="center">创建人</th>
					<th data-field="createdTime" data-align="center">创建时间 </th>
					<th data-field="description" data-align="center">备注 </th>
				</tr>
			</thead>
		</table>
	</div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#common_cardBaseJs/>
<#bindbankcard_bindBankCardJs/>
<#bindbankcard_customerInfoTmpl/>

<#comment>
    页面层弹框
</#comment>
<script id="checkPassword" type="text/html">
    <div class="form-group col">
		<label for="accountType" class="div_label">园区卡密码</label>
			<input type="password" id="password" name="password">
			<button id="pwdBtn" type="button" class="btn btn-primary">
				请输入密码
		</button>
	</div>
</script>
