<#bs4Body>
<div class="container-fluid">
    <form id="queryForm"  role="form" action="${contextPath}/bindBankCard/queryCard.html" method="get">
		<input type="text" name="" hidden data-text="一个input时占位解决自动提交">
		<input type="hidden" id="accountId" name="accountId">
        <div class="row row-cols-6">
            <div class="form-group col-auto">
                <label for="cardNo">卡号</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="cardNo" value="${cardNo!}" id="cardNo" maxlength="12"/>
                </div>
            </div>
            <div class="col-auto align-self-center mt-3">
	                <button id="query" type="button" class="btn btn-primary"  onclick="readCard()">
	                <i class="fa fa-search">刷园区主卡</i>
	                </button>
	            <#resource code="add_bindBankCard">
					<button id="authBindBtn" type="button" class="btn btn-primary" style="display: none">授权绑定</button>
                </#resource>
            </div>
        </div>
    </form>
	<div id="cardInfoDiv">
	</div>
	 <!-- 已绑定银行卡列表 -->
	<div id="bankCardTableDiv" style="display: none" >
		<div class="breadcrumb">
             银行卡绑定列表
        </div>
        <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            <button id="refreshBtn" type="button" class="btn btn-primary" >
                <i class="fa fa-refresh">刷新</i>
            </button>
            <#resource code="add_bindBankCard">
            <button id="openAddHtmlBtn" type="button" class="btn btn-primary">
                <i class="fa fa-plus">添加银行卡</i>
            </button>
            </#resource>
        </div>
		<table id="bankCardTable" data-title="银行卡列表" data-show-fullscreen="true"
			data-buttons-class="primary" data-icons="bui.variable.icons">
			<thead>
				<tr>
					<th data-radio="true"></th>
					<th data-field="bankNo" data-align="center">银行卡号</th>
					<th data-field="bankName" data-align="center">银行名称</th>
					<th data-field="name" data-align="center">账户名称</th>
					<th data-field="bankAccountTypeText" data-align="center">账户类型</th>
					<th data-field="statusText" data-align="center">状态</th>
					<th data-field="operatorName" data-align="center">创建人</th>
					<th data-field="createTime" data-align="center">创建时间 </th>
					<th data-field="description" data-align="center"  data-formatter="noteFormatter">备注 </th>
					<th data-align="center" data-formatter="operFormatter">操作 </th>
				</tr>
			</thead>
		</table>
	</div>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#common_cardBaseJs/>
<#bindbankcard_bindBankCardJs/>
<#bindbankcard_customerInfoTmpl/>

<#comment>
    页面层弹框
</#comment>
<script id="checkPassword" type="text/html">
    <div class="form-group row col">
		<label for="accountType" class="div_label col-form-label col-md-3 ">园区卡密码</label>
		<input type="password" class="form-control col-md-6" id="password" maxlength="6" name="password">
		<button id="pwdBtn" type="button" onclick="readPwd()" class="btn btn-primary col-md-3">
			请输入密码
		</button>
	</div>
</script>

<!-- 解绑弹出层 -->
<script id="unbindModal" type="text/html">
	<div class="row row-cols-1"  style="text-align: center">
		<div class="form-group row">
			<label class="col-md-3 col-form-label">&nbsp;&nbsp;银行卡号</label>
        	<input type="text" id="bankCardNo" class="form-control col-md-9" value="{{bankNo}}" readonly/>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label">银行名称</label>
			<input id="bankName" type="text" class="form-control col-md-9" value="{{bankName}}" readonly/>
		</div>
    	<div class="form-group row">
			<label class="col-md-3 col-form-label">账户名称</label>
			<input id="accountName" type="text" class="form-control col-md-9" value="{{name}}" readonly/>
    	</div>
    	<div class="form-group row">
			<label class="col-md-3 col-form-label">账户类型</label>
			<input id="accountType" type="text" class="form-control col-md-9" value="{{bankAccountTypeText}}" readonly/>
  	  	</div>
  	  	<div class="form-group row">
			<label class="col-md-3 col-form-label">备注</label>
			<input id="removeBind" type="text" class="form-control col-md-9" value="{{description}}" readonly/>
    	</div>
    	<div class="form-group row">
			<label class="col-md-3 col-form-label">主卡密码</label>
			<input type="password" id="unbindModalPassword" class="form-control col-md-6" maxlength="6" name="unbindModalPassword" />
			<button id="pwdBtn" type="button" onclick="readPwd()" class="btn btn-primary col-md-3">
				请输入密码
			</button>
    	</div>
	</div>
</script>
