<#bs4Body>

<div class="container-fluid">
	<form id="bankAddForm" role="form" class="pb-5">
		<!-- <input type="hidden" id="bankType" name="bankType"> -->
		<input type="hidden" id="openingBank" name="openingBank">
		<div class="row row-cols-1" id="baseContent">
			<div class="form-group col">
				<label>账户类型</label>
				<select id="bankAccountType" name="bankAccountType" class="form-control" required>
					<option value="1">个人账户</option>
					<option value="2">对公账户</option>
				</select>
			</div>
			<div class="form-group col">
				<label>银行卡号</label>
				<div class="input-group">
					<input id="bankNo" name="bankNo" class="form-control" minlength="15" maxlength="20" value="" required/>
					<div class="input-group-append">
						<span class="input-group-text"><a id="bankReader" href="javascript:;">请刷银行卡</a></span>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label>账户名称</label>
				<input type="text" name="name" class="form-control" value="" required readonly/>
			</div>
			<div class="form-group col" data-account-type="1">
				<label>银行名称</label>
				<input type="text" id="bankNamePersonal" name="bankName" class="form-control" value="" required readonly/>
			</div>
			<div class="form-group col" data-account-type="2" style="display: none">
				<label>银行名称</label>
				<select id="bankType" name="bankType" class="form-control" required></select>
				<#bcomboProvider _id="bankType" _provider="bankChannelProvider" />
			</div>
			<!-- 对公户 开户行 -->
			<div class="form-group col">
				<label for="openingBank">开户行</label>
				<select id="openingBankNum" name="openingBankNum" class="form-control" required ></select>
				<#bselect2 _id="openingBankNum" _mode="remote" _optionVariable="openingBankAutocompleteOption" />
			</div>
			<div class="form-group col">
				<label>备注</label>
				<input type="text" name="description" maxlength="50" class="form-control"/>
			</div>
		</div>
	</form>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#common_cardBaseJs/>
<#bindbankcard_addBankCardJs/>




