<#bs4Body>
<div class="container-fluid">
	<div class="row row-cols-1" id="baseContent">
		<div class="form-group col">
			<label for="accountType" class="div_label">园区卡密码</label> 
			&nbsp;&nbsp;
			<input
				type="radio" name="accountType" checked="checked"
				onclick='BankCard.accountTypeChange();'>
			&nbsp;&nbsp;
			<button id="pwdBtn" type="button" class="btn btn-primary">
				请输入密码
			</button>
		</div>

		<div
			style="display: table-cell; text-align: center; margin-top: 15px; margin-bottom: 20px;">
			<div style="width: 49%; float: left;">
				<button type="button" class="btn btn-primary" style="width: 100px;"
					onclick="doSettle()">确定</button>
			</div>
			<div style="width: 49%; float: left;">
				<button type="button" class="btn btn-secondary" data-dismiss="modal"
					style="width: 100px;">取消</button>
			</div>
		</div>
	</div>
</div>

</#bs4Body>
<#common_cardBaseJs />
<#bindbankcard_bindBankCardJs />

