<#bs4Body> <script type="text/javascript">
	function createCard(url) {
		var datas = $("#openInfoForm").serialize();
		console.log(datas);
		$.ajax({
			url : "${contextPath}" + url,
			type : 'POST',
			async : false,
			data : datas,
			success : function(res) {
				showInfo(JSON.stringify(res));
			},
			error : function(res) {
				showError(JSON.stringify(res));
			}
		});
	}
	// 获取测试客户信息
	function getCustomer() {
		var customerId = $("#customerId").val();
		$.ajax({
			url : "${contextPath}/card/getCustomerInfo.action",
			type : 'POST',
			async : false,
			data : {"customerId":customerId},
			success : function(res) {
				console.log(res);
				$("#name").val(res.data.name);
				$("#customerId").val(res.data.id);
				$("#customerType").val(res.data.customerMarket.type);
				$("#customerNo").val(res.data.code);
				$("#mobile").val(res.data.contactsPhone);
				$("#credentialType").val(res.data.certificateType);
				$("#credentialNo").val(res.data.certificateNumber);
			},
			error : function(res) {
				showError(JSON.stringify(res));
			}
		});
	}
</script>
<div class="main-container container-fluid">
	<input type="button"
		onclick="createCard('/card/openMasterCard.action')" value="办理主卡">
	<input type="button" onclick="createCard('/card/openSlaveCard.action')"
		value="办理副卡">
	<form action="/" id="openInfoForm">
		<table id="baseInfo" class="table table-bordered">
			<tr>
				<td class="vertical-td info-column-frozen-fund">姓名<i
					class="red">*</i></td>
				<td><input id="name" name="name" value="老李"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">卡号<i
					class="red">*</i></td>
				<td><input id="cardNo" name="cardNo" value="555555555555"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">
					客户ID
					<input type="button" onclick="getCustomer()" value="切换">
				</td>
				<td><input id="customerId" name="customerId" value="103"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">客户类型</td>
				<td><input id="customerType" name="customerType"
					value="purchaseSale" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">客户编号</td>
				<td><input id="customerNo" name="customerNo"
					value="purchaseSale" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">手机号</td>
				<td><input id="mobile" name="mobile"
					value="18988888888" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">证件类型</td>
				<td><input id="credentialType" name="credentialType"
					value="individual" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">证件号</td>
				<td><input id="credentialNo" name="credentialNo"
					value="513002198810102287" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">密码</td>
				<td><input id="loginPwd" name="loginPwd" value="123456"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">开户来源</td>
				<td><input id="createSource" name="createSource" value="1"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">卡类型</td>
				<td><input id="category" name="category" value="10"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">父卡账号</td>
				<td><input id="parentAccountId" name="parentAccountId" class="form-control" /></td>
			</tr>
		</table>
	</form>
</div>
</#bs4Body>
<#common_commonJs/>
