<#bs4Body> <script type="text/javascript">
//根据证件号查询客户信息
function getCustomerInfoByIdCode(){
	var number=$("#customerCertificateNumber").val();
	var data = {customerCertificateNumber: number};
	$.ajax({
		url : "${contextPath}/card/getCustomerInfo.action",
		type : 'POST',
		async : false,
		contentType:'application/json;charset=utf-8',
		data : JSON.stringify(data),
		success : function(res) {
			showInfo(JSON.stringify(res));
		},
		error : function(res) {
			showError(JSON.stringify(res));
		}
	});
}

//获取换卡工本费
function getChangeCardFee(){
	$.ajax({
		url : "${contextPath}/card/change/getChangeCardFee.action",
		type : 'POST',
		async : false,
		contentType:'application/json;charset=utf-8',
		success : function(res) {
			showInfo(JSON.stringify(res));
		},
		error : function(res) {
			showError(JSON.stringify(res));
		}
	});
}
//获取开卡工本费
function getOpenCardFee(){
	$.ajax({
		url : "${contextPath}/card/getOpenCardFee.action",
		type : 'POST',
		async : false,
		contentType:'application/json;charset=utf-8',
		success : function(res) {
			showInfo(JSON.stringify(res));
		},
		error : function(res) {
			showError(JSON.stringify(res));
		}
	});
}
//检查卡状态
function checkNewCardNo(){
	var data = {cardNo: "888889688942"};
	$.ajax({
		url : "${contextPath}/card/checkNewCardNo.action",
		type : 'POST',
		async : false,
		contentType:'application/json;charset=utf-8',
		data : JSON.stringify(data),
		success : function(res) {
			showInfo(JSON.stringify(res));
		},
		error : function(res) {
			showError(JSON.stringify(res));
		}
	});
}
	
	// 获取卡信息
	function getAccountInfo(){
		var cardNo = $("#cardNo").val();
		var data = {cardNo: cardNo};
		$.ajax({
			url : "${contextPath}/card/getAccountInfo.action",
			type : 'POST',
			async : false,
			contentType:'application/json;charset=utf-8',
			data : JSON.stringify(data),
			success : function(res) {
				showInfo(JSON.stringify(res));
			},
			error : function(res) {
				showError(JSON.stringify(res));
			}
		});
	}
	function createCard(url) {
		var datas = $("#openInfoForm").serializeObject();
		console.log(datas);
		console.log(JSON.stringify(datas));
		$.ajax({
			url : "${contextPath}" + url,
			type : 'POST',
			async : false,
			contentType:'application/json;charset=utf-8',
			data : JSON.stringify(datas),
			success : function(res) {
				showInfo(JSON.stringify(res));
			},
			error : function(res) {
				showError(JSON.stringify(res));
			}
		});
	}
	// 获取测试客户信息
	function getCustomer() {
		var customerId = $("#customerId").val();
		$.ajax({
			url : "${contextPath}/card/getCustomerInfoTest.action",
			type : 'POST',
			async : false,
			data : {"customerId":customerId},
			success : function(res) {
				console.log(res);
				$("#customerName").val(res.data.name);
				$("#customerId").val(res.data.id);
				$("#customerType").val(res.data.customerMarket.type);
				$("#customerCode").val(res.data.code);
				$("#customerContactsPhone").val(res.data.contactsPhone);
				$("#customerCredentialType").val(res.data.certificateType);
				$("#customerCertificateNumber").val(res.data.certificateNumber);
			},
			error : function(res) {
				showError(JSON.stringify(res));
			}
		});
	}
</script>
<div class="main-container container-fluid">
	<input type="button"
		onclick="createCard('/card/openMasterCard.action')" value="办理主卡">
	<input type="button" onclick="createCard('/card/openSlaveCard.action')"
		value="办理副卡">
	<input type="button" onclick="getAccountInfo()" value="获取卡信息">
	<input type="button" onclick="getOpenCardFee()" value="获取开卡工本费">
		<input type="button" onclick="checkNewCardNo()" value="检查卡状态">
		<input type="button" onclick="getChangeCardFee()" value="获取换卡工本费">
		<input type="button" onclick="getCustomerInfoByIdCode()" value="获取客户信息">
		
	<form action="/" id="openInfoForm">
		<table id="baseInfo" class="table table-bordered">
			<tr>
				<td class="vertical-td info-column-frozen-fund">姓名<i
					class="red">*</i></td>
				<td><input id="customerName" name="customerName" value="老李"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">卡号<i
					class="red">*</i></td>
				<td><input id="cardNo" name="cardNo" value="555555555555"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">
					客户ID
					<input type="button" onclick="getCustomer()" value="切换">
				</td>
				<td><input id="customerId" name="customerId" value="103"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">客户类型</td>
				<td><input id="customerType" name="customerType"
					value="purchaseSale" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">客户编号</td>
				<td><input id="customerCode" name="customerCode"
					value="purchaseSale" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">手机号</td>
				<td><input id="customerContactsPhone" name="customerContactsPhone"
					value="18988888888" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">证件类型</td>
				<td><input id="customerCredentialType" name="customerCredentialType"
					value="individual" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">证件号</td>
				<td><input id="customerCertificateNumber" name="customerCertificateNumber"
					value="513002198810102287" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">密码</td>
				<td><input id="loginPwd" name="loginPwd" value="123456"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">开户来源</td>
				<td><input id="createSource" name="createSource" value="1"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">卡类型</td>
				<td><input id="category" name="category" value="10"
					class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">父卡账号</td>
				<td><input id="parentAccountId" name="parentAccountId" class="form-control" /></td>
			</tr>
			<tr>
				<td class="vertical-td info-column-frozen-fund">工本费</td>
				<td><input id="costFee" name="costFee" class="form-control" /></td>
			</tr>
		</table>
	</form>
</div>
</#bs4Body>
<#common_commonJs/>
