<#bs4Body>
<div class="container-fluid">
    <div id="add-modal">
        <form id="save-form">
            <table id="add-table" class="table table-bordered">
                <tbody>
                <tr>
                    <td class="info-column-card-out">入库类型</td>
                    <td class="info-cell-card-out">
                        <select name="cardType" id="cardType" class="form-control"></select>
                		<#bcomboProvider _id="cardType" _provider="cardTypeProvider" _queryParams='{emptyText:"-- 请选择 --"}'/>
                    </td>
                </tr>
                <tr>
                	<td class="info-column-card-out">起始卡号</td>
                    <td>
                        <input id="startCardNo" name="startCardNo" type="text" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td class="info-column-card-out">结束卡号</td>
                    <td>
                        <input id="endCardNo" name="endCardNo" type="text" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td class="info-column-card-out">入库张数</td>
                    <td>
                        <input id="amount" name="amount" type="text" class="form-control"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<#common_autoCompleteUser/>
<script>
    let formId = "save-form";
    $("#" + formId).validate({
        onkeyup: false,
        rules: {
            applyUserName: {
                required: true,
            },
            amount: {
                required: true,
                gt: 1,
            }
        },
        messages: {
            applyUserName: {
                required: "领取人必填",
            },
            amount: {
                required: "领取数量必填",
                gt: "领取数量至少{0}"
            }
        },
        focusCleanup: true
    });

    function submitHandler(e) {
        if (!$.validate.form(formId)) {
            return false;
        }
        let url = "${contextPath}/cardStorage/addOut.action";
        let data = $.common.formToJSON(formId);
        $.operate.post(url, data);
        //return true;
    }
</script>
