<#bs4Body>
<div class="container-fluid">
    <div id="add-modal">
        <form id="save-form">
            <table id="add-table" class="table table-bordered">
                <tbody>
                <tr>
                    <td class="info-column-card-out">领取人</td>
                    <td class="info-cell-card-out">
                        <#bautoCompleteProvider
                        _hiddenDomainId="applyUserId"
                        _hiddenDomainName="applyUserId"
                        _displayDomainId="applyUserName"
                        _displayDomainName="applyUserName"
                        _placeholder=""
                        _optionVariable="userNameAutoCompleteOption"/>
                    </td>
                </tr>
                <tr>
                    <td class="info-column-card-out">工号</td>
                    <td id="_applyUserCode" class="info-cell-card-out"></td>
                    <input id="applyUserCode" name="applyUserCode" type="hidden" class="form-control"/>
                </tr>
                <tr>
                    <td class="info-column-card-out">已读数量</td>
                    <td>
                        <input id="amount" name="amount" type="text" class="form-control" value="2" readonly/>
                        <input id="cardNos" name="cardNos" type="hidden" class="form-control"
                               value="888889688902,888889688903"/>
                    </td>
                    <td>
                        <button id="btn-out" type="button" class="btn btn-primary">
                            开启读卡器
                        </button>
                    </td>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<#common_autoCompleteUser/>
<script>
    let formId = "save-form";
    $("#" + formId).validate({
        onkeyup: false,
        rules: {
            applyUserName: {
                required: true,
            },
            amount: {
                required: true,
                gt: 1,
            }
        },
        messages: {
            applyUserName: {
                required: "领取人必填",
            },
            amount: {
                required: "领取数量必填",
                gt: "领取数量至少{0}"
            }
        },
        focusCleanup: true
    });

    function submitHandler(e) {
        if (!$.validate.form(formId)) {
            return false;
        }
        let url = "${contextPath}/cardStorage/addOut.action";
        let data = $.common.formToJSON(formId);
        $.operate.post(url, data);
        //return true;
    }
</script>
