<#bs4Body>
<style>
</style>
<div class="main-container container-fluid">
	<#bs4nav>
	<form id="queryForm" role="form">
		<div class="row row-cols-6">
			<div class="form-group col-auto">
				<label class="justify-content-end">入库时间</label>
				<div class="form-inline">
					<div class="input-group">
						<input type="text" name="startDate" id="startDate"
							class="form-control laydatetime" />
						<div class="input-group-append">
							<label for="startDate" class="input-group-text fa fa-calendar"></label>
						</div>
					</div>
					&nbsp;&nbsp;至&nbsp;&nbsp;
					<div class="input-group">
						<input type="text" name="endDate" id="endDate"
							class="form-control laydatetime" />
						<div class="input-group-append">
							<label for="endDate" class="input-group-text fa fa-calendar"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="col align-self-center mt-3">
				<button id="clear" type="button"
					class="btn btn-outline-primary mr-2" onclick="$.form.reset()">
					<i class="fa fa-refresh"></i> 清空
				</button>
				<button id="query" type="button" class="btn btn-outline-primary"
					onclick="$.table.search()">
					<i class="fa fa-search"></i> 查询
				</button>
			</div>
		</div>
	</form>
	</#bs4nav>
</div>


<div id="toolbar" class="btn-group" role="group"
	aria-label="Toolbar with button groups">
	<#resource code="card_storage_in">
	<button id="btn_query" type="button" class="btn btn-primary"
		onclick="$.operate.add(null,'40%','80%')">
		<i class="fa fa-save"></i> 新增入库
	</button>
	</#resource>
</div>
<div class="row">
	<div class="col-12">
		<table id="grid" data-title="卡片入库" data-show-fullscreen="true"
			data-buttons-class="primary" data-icons="bui.variable.icons">
			<thead>
				<tr>
					<th data-radio></th>
					<th data-field="amount" data-align="center">入库张数</th>
					<th data-field="cardTypeText" data-align="center">类别</th>
					<th data-field="cardNoRange" data-align="center">号段</th>
					<th data-field="createTime" data-sortable="true"
						data-sort-name="createTime" data-align="center">入库时间</th>
					<th data-field="creator" data-align="center">入库人</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
</#bs4Body>
<script type="text/javascript"
	src="${contextPath}/resources/js/sword.js"></script>
<#common_userJs />

<script>
    $(() => {
        let options = {
            uniqueId: "id", //必须加这个唯一标识
            url: "${contextPath}/cardStorageIn/queryList.action",
            createUrl: "${contextPath}/cardStorageIn/inAdd.html",
            sortName: "create_time",
            modalName: "卡片入库"
        };
        $.table.init(options);
    });

</script>

