<#bs4Body>
<style>
</style>
<div class="main-container container-fluid">

	<form id="queryForm" role="form">
		<div class="row row-cols-6">
			<#component_dateControls
			_labelText="入库时间"
			_startDateParam="startDate"
			_endDateParam="endDate"
			_resetDate="false"
			/>
			<div class="col-auto align-self-center mt-3">
				<button id="clear" type="button"
					class="btn btn-outline-primary mr-2" onclick="$.form.reset()">
					<i class="fa fa-refresh"></i> 清空
				</button>
				<button id="query" type="button" class="btn btn-outline-primary"
					onclick="$.table.search()">
					<i class="fa fa-search"></i> 查询
				</button>
			</div>
		</div>
	</form>

<hr>
<div>
		<div id="toolbar" class="btn-group" role="group"
			aria-label="Toolbar with button groups">
			<#resource code="card_storage_in">
			<button id="btn_query" type="button" class="btn btn-primary"
				onclick="$.operate.add(null,'400px','500px')">
				<i class="fa fa-plus"></i> 新增入库
			</button>
			</#resource>
			<#resource code="card_storage_in_del">
			<button id="btn_del" type="button" class="btn btn-primary"
				onclick="delData()">
				<i class="fa fa-plus"></i> 删除
			</button>
			</#resource>
		</div>
		<table id="grid" data-title="卡片入库" data-show-fullscreen="true"
			data-buttons-class="primary" data-icons="bui.variable.icons">
			<thead>
				<tr>
					<th data-radio="true"></th>
					<th data-field="amount" data-align="center">入库张数</th>
					<th data-field="cardTypeText" data-align="center">类别</th>
					<th data-field="cardFaceText" data-align="center">卡面信息</th>
					<th data-field="cardNoRange" data-align="center">号段</th>
					<th data-field="createTime" data-sortable="true"
						data-sort-name="create_time" data-align="center">入库时间</th>
					<th data-field="creator" data-align="center">入库人</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

</#bs4Body>
<script type="text/javascript"
	src="${contextPath}/resources/js/sword.js"></script>
<#common_userJs />
<#common_commonJs/>
<script>
    $(() => {
        let options = {
            uniqueId: "id", //必须加这个唯一标识
            url: "${contextPath}/cardStorageIn/queryList.action",
            createUrl: "${contextPath}/cardStorageIn/inAdd.html",
            sortName: "create_time",
            modalName: "卡片入库"
        };
        $.table.init(options);
    });

 // 根据选中行状态，对作废按钮进行禁用或启用
    $("#cardStorageTable").on('check.bs.table', function (e, row, $element) {
    		$("#btn_del").removeAttr("disabled", "disabled");
    });

    // 删除入库记录数据
    function delData(){
    	let rows = $("#grid").bootstrapTable('getSelections').length;
    	if(rows>0){
    		$("#voidModal").modal("show");
    	}else{
    		showError("您没有选择任何数据!");
    		return;
    	}
    	$.modal.confirm("确定删除当前相应卡的入库记录？",function(sure) {
				if (!sure) {
 					return;
 				}
 		    	$.ajax({
 		            type:'POST',
 		            url:'${contextPath}/cardStorageIn/del.action',
 		            dataType:'json',
 		            traditional:true,
 		            data: {
 		            	ids: $.table.selectColumns("id")
 		            },
 		            success:function(result) {
 		                if (result.success) {
 		                	showInfo("操作成功");
 		                	$.table.refresh();
 		                }else {
 		                	showError(result.message);
 		                }
 		            }
 		        });
    	});
    }
</script>

