<#bs4Body>

<div class="container-fluid">
    <form id="check-card-form">
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="cardType">卡片类别:</label>
                <select id="cardType" name="cardType" class="form-control"></select>
                <#bcomboProvider _id="cardType" _provider="cardTypeProvider" _queryParams='{emptyText:"-- 请选择 --"}'/>
            </div>

            <div id="cardFaceRow" class="form-group col">
                <label for="cardFace">卡面类型:</label>
                <select id="cardFace" name="cardFace" class="form-control"></select>
                <#bcomboProvider _id="cardFace" _provider="cardFaceProvider" _queryParams='{emptyText:"-- 无 --"}' />
            </div>
        </div>
    </form>

    <form id="save-form">
        <div class="row row-cols-1">
            <div class="form-group col">
                <label for="applyUserId">领取人:</label>
                <#bautoCompleteProvider
                _hiddenDomainId="applyUserId"
                _hiddenDomainName="applyUserId"
                _displayDomainId="applyUserName"
                _displayDomainName="applyUserName"
                _placeholder=""
                _optionVariable="userNameAutoCompleteOption"/>
                <input id="userCode" name="applyUserCode" type="hidden" class="form-control"/>
            </div>
            <div class="form-group col">
                <label for="applyUserId">已读数量:</label>
            </div>
            <div class="form-group col" >
                <div class="input-group">
                    <input id="amount" name="amount" type="text" class="form-control" readonly/>
                    <input id="cardNos" name="cardNos" type="hidden" class="form-control"/>
                    <div class="input-group-append">
                        <div class="input-group-append">
                            <button id="cardReader" class="btn btn-primary" type="button" onclick="openCardReader()">开启读卡器</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<#common_autoCompleteUser/>
<#common_cardBaseJs/>
<script>
    $(() => {
        //轮询读卡器状态
        setInterval(() => {
            let isClosed = checkCardStatus();
            if(isClosed == "true"){
                $("#cardReader").removeAttr("disabled");
            }else{
                $("#cardReader").attr({"disabled":"disabled"});
            }
        }, 1000);
    });

    let cardType = {
        "master": 10,//主卡
        "slave": 20,//副卡
    };

    let temp = {
        total: 0,
        cardNos: new Set()
    };

    //标记是否已在读卡状态，防止多个弹框
    let outAddReadCardFlag = true;
    $(() => {
        //修改一下“确定”按钮文本
        $.modal.changeEnsureTxt("出库")
        $("#cardFaceRow").hide();
    });

    //名字发生变化的时候清空工号
    $("#applyUserName").watch(function (value) {
        $('#userCode').val('');
        $('#applyUserId').val('');
    });

    //监听卡类型下拉变化
    $("#cardType").watch((value)=>{
        let $cardFace = $("#cardFaceRow");
        $("#cardFace").val('');
        if (cardType.master == value){
            $cardFace.show();
        }else {
            $cardFace.hide();
        }
    });


    jQuery.validator.addMethod("cardFaceRequired", function(value, element, param) {
        if (cardType.master == $("#cardType").val()) {
            if ($.common.isEmpty(value)){
                return false;
            }
        }
        return true;
    });

    let checkCardFormId = 'check-card-form';
    $("#" + checkCardFormId).validate({
        onkeyup: false,
        rules: {
            cardType: {
                required: true,
            }
        },
        messages: {
            cardType: {
                required: "卡类型必填",
            },
        },
        focusCleanup: true
    });

    let formId = "save-form";
    $("#" + formId).validate({
        onkeyup: false,
        rules: {
            cardType: {
                required: true,
            },
            applyUserName: {
                required: true,
            },
            /*  amount: {
                  required: true,
              }*/
        },
        messages: {
            cardType: {
                required: "卡类型必填",
            },
            applyUserName: {
                required: "领取人必填",
            },
            amount: {
                required: "出库数量必填",
            }
        },
        focusCleanup: true
    });

    //提交出库请求
    function submitHandler(e) {
        if (!$.validate.form(formId)) {
            return false;
        }
        assignCard();
        let url = "${contextPath}/cardStorage/addOut.action";
        let data = $.common.formToJSON(formId);
        //console.log(JSON.stringify(data))
        $.operate.post(url, data);
        closeContinuousReadCard();
    }

    //关闭弹框回调
    function closeHideStartHandler(e) {
        //关闭读卡器
        closeContinuousReadCard();
    }

    //开启读卡器
    function openCardReader() {
        continuousReadCardNumber(() => {
            $("#cardReader").attr({"disabled": "disabled"});
        });
    }

    //客户端回调读卡
    function cardClientHandler(json) {
        if (!outAddReadCardFlag){
            return;
        }
        let cardResult = JSON.parse(json);
        readCard(cardResult);
    }

    //读卡
    function readCard(result) {
        if (!$.validate.form(checkCardFormId)) {
            return;
        }
        if (temp.cardNos.size >= 200) {
            alertErrorMsg("最多一次出库200张卡片");
            return;
        }
        if (!result.success) {
            alertErrorMsg(result.message);
            return;
        }
        let cardNo = result.data;
        if ($.common.isEmpty(cardNo)) {
            alertErrorMsg("请将卡片放置在读卡器上");
            return;
        }
        if (temp.cardNos.has(cardNo)) {
            alertErrorMsg("该卡片已经在待出库序列中。。。");
            return;
        }
        let params = {
            cardNo: result.data,
            cardType: $('#cardType').val(),
            cardFace: $('#cardFace').val(),
        };
        let config = {
            url: "${contextPath}/cardStorage/checkCardForOut.action",
            type: 'get',
            data: params,
            success: (result) => {
                if (!result.success) {
                    alertErrorMsg(result.message);
                } else {
                    temp.total++;
                    temp.cardNos.add(cardNo);
                    assignCard();
                }
            },
        };
        $.ajax(config);
    }

    function alertErrorMsg(content) {
        parent.$.modal.alertOptions(content, {
            type: "warning",
            onHideStart() {
                alertOnClose();
            }
        }, alertOnClose);
        outAddReadCardFlag = false;
    }

    //弹框关闭回调
    function alertOnClose() {
        outAddReadCardFlag = true;
    }

    function assignCard() {
        $('#amount').val(temp.cardNos.size);
        $('#cardNos').val(Array.from(temp.cardNos).join(","));
    }
</script>
