<#bs4Body>
<div class="container-fluid">
    <div id="add-modal">
        <form id="save-form">
            <table id="add-table" class="table table-bordered">
                <tbody>
                <tr>
                    <td class="info-column-card-out">领取人</td>
                    <td class="info-cell-card-out">
                        <#bautoCompleteProvider
                        _hiddenDomainId="applyUserId"
                        _hiddenDomainName="applyUserId"
                        _displayDomainId="applyUserName"
                        _displayDomainName="applyUserName"
                        _placeholder=""
                        _optionVariable="userNameAutoCompleteOption"/>
                    </td>
                </tr>
                <tr>
                    <td class="info-column-card-out">工号</td>
                    <td id="_applyUserCode" class="info-cell-card-out"></td>
                    <input id="applyUserCode" name="applyUserCode" type="hidden" class="form-control"/>
                </tr>
                <tr>
                    <td class="info-column-card-out">已读数量</td>
                    <td class="info-cell-card-out">
                    <span>
                        <input type="hidden">11111,2222</input>
                    </span>
                        <span>fffff</span>
                        <span style="float: right">  <button id="btn-out" type="button" class="btn btn-primary">
                        开启读卡器
                    </button></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</#bs4Body>
<#common_autoCompleteUser/>
<script>
    function submitHandler(e) {
        let url = "${contextPath}/cardStorage/addOut.action";
        let data = $.common.formToJSON("save-form");
        $.operate.post(url,data);
        return true;
    }
</script>
