<#bs4Body>

<div class="container-fluid">
    <form id="check-card-form">
    	<div class="row row-cols-1">
            <div class="form-group col">
                <label for="cardType">卡片类别:</label>
                <select id="cardType" name="cardType" class="form-control"></select>
                <#bcomboProvider _id="cardType" _provider="cardTypeProvider" _queryParams='{emptyText:"-- 请选择 --"}'/>
            </div>

            <div id="cardFaceRow" class="form-group col">
                <label for="cardFace">卡面类型:</label>
                <select id="cardFace" name="cardFace" class="form-control"></select>
                <#bcomboProvider _id="cardFace" _provider="cardFaceProvider" _queryParams='{emptyText:"-- 请选择 --"}'/>
            </div>
        </div>
    </form>

    <form id="save-form">
        <div class="row row-cols-1">
            <div class="form-group col">
                 <label for="applyUserId">领取人:</label>
                 <#bautoCompleteProvider
                     _hiddenDomainId="applyUserId"
                     _hiddenDomainName="applyUserId"
                     _displayDomainId="applyUserName"
                     _displayDomainName="applyUserName"
                     _placeholder=""
                     _optionVariable="userNameAutoCompleteOption"/>
                     <input id="userCode" name="applyUserCode" type="hidden" class="form-control"/>
            </div>
             <div class="form-group col">
                    <label for="applyUserId">已读数量:</label>
             </div>
            <div class="form-group col" >
                <div class="input-group">
                    <input id="amount" name="amount" type="text" class="form-control" readonly/>
                    <input id="cardNos" name="cardNos" type="hidden" class="form-control"/>
                    <div class="input-group-append">
                        <span class="input-group-text"><a id="btn" href="javascript:;" onclick="readCard()" >开启读卡器</a></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<#common_autoCompleteUser/>
<#common_cardBaseJs/>
<script>
    let cardType = {
        "master": 10,//主卡
        "slave": 20,//副卡
    };

    let temp = {
        total: 0,
        cardNos: []
    };
    $(() => {
        //修改一下“确定”按钮文本
        $.modal.changeEnsureTxt("出库")
        $("#cardFaceRow").hide();
    });

    //名字发生变化的时候清空工号
    $("#applyUserName").watch(function (value) {
        $('#userCode').val('');
        $('#applyUserId').val('');
    });

    //监听卡类型下拉变化
    $("#cardType").watch((value)=>{
        let $cardFace = $("#cardFaceRow");
        $("#cardFace").val('');
        if (cardType.master == value){
            $cardFace.show();
        }else {
            $cardFace.hide();
        }
    });

    let checkCardFormId = 'check-card-form';
    $("#" + checkCardFormId).validate({
        onkeyup: false,
        rules: {
            cardType: {
                required: true,
            },
        },
        messages: {
            cardType: {
                required: "卡类型必填",
            },
        },
        focusCleanup: true
    });

    let formId = "save-form";
    $("#" + formId).validate({
        onkeyup: false,
        rules: {
            cardType: {
                required: true,
            },
            applyUserName: {
                required: true,
            },
          /*  amount: {
                required: true,
            }*/
        },
        messages: {
            cardType: {
                required: "卡类型必填",
            },
            applyUserName: {
                required: "领取人必填",
            },
            amount: {
                required: "出库数量必填",
            }
        },
        focusCleanup: true
    });

    //提交出库请求
    function submitHandler(e) {
        if (!$.validate.form(formId)) {
            return false;
        }
        let url = "${contextPath}/cardStorage/addOut.action";
        let data = $.common.formToJSON(formId);
        //console.log(JSON.stringify(data))
        $.operate.post(url, data);
    }

    //读卡
    function readCard() {
        if (!$.validate.form(checkCardFormId)) {
            return;
        }
        if (temp.total == 50) {
            parent.$.modal.alertWarning("最多一次出库50张卡片");
            return;
        }
        let result = readerCardNumber();
        if (!result.success) {
            parent.$.modal.alertWarning(result.message);
            return;
        }
        let cardNo = result.data;
        if ($.common.isEmpty(cardNo)) {
            parent.$.modal.alertWarning("请将卡片放置在读卡器上");
            return;
        }
        if (temp.cardNos.indexOf(cardNo) > -1) {
            parent.$.modal.alertWarning("该卡片已经在待出库序列中。。。");
            return;
        }
        let params = {
            cardNo: result.data,
            cardType : $('#cardType').val(),
            cardFace: $('#cardFace').val(),
        };
        let config = {
            url: "${contextPath}/cardStorage/checkCardForOut.action",
            type: 'get',
            data: params,
            success: (result) => {
                if (!result.success) {
                    parent.$.modal.alertWarning(result.message)
                } else {
                    temp.total++;
                    temp.cardNos.push(cardNo);
                    $('#amount').val(temp.total);
                    $('#cardNos').val(temp.cardNos.join(","));
                }
            },
        };
        $.ajax(config);
    }
</script>
