<#bs4Body>

    <div id="detail-modal">
    	<div class="row-row-cols-1">
			<div class="form-group col">
				<label>领取人</label>
				<input name="" type="text" class="form-control" value="${detail.applyUserName!}" readonly="readonly"/>
			</div>
			<div class="form-group col">
				<label>工号</label>
				<input name="" type="text" class="form-control" value="${detail.applyUserCode!}" readonly="readonly"/>
			</div>
			<div class="form-group col">
				<label>领取数量</label>
				<input name="" type="text" class="form-control" value="${detail.amount!}" readonly="readonly"/>
			</div>
			<div class="form-group col">
				<label>卡明细</label>
				<% for(item in detail.applyCards) { %>
				<ul><li>${item!}</li></ul>
				<% } %>
			</div>
		</div>
    </div>
</#bs4Body>
