<#bs4Body>
<style>
    .info-column-card-out {
        width: 30%;
        font-weight: bold;
        text-align: right;
    }
    .info-cell-card-out{
        width: 70%;
        text-align: center;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }
</style>
<div class="container-fluid">
    <div id="detail-modal">
        <table id="out-detail" class="table table-bordered">
            <tbody>
            <tr>
                <td class="info-column-card-out">领取人</td>
                <td class="info-cell-card-out">${detail.applyUserName!}</td>
            </tr>
            <tr>
                <td class="info-column-card-out">工号</td>
                <td class="info-cell-card-out">${detail.applyUserId!}</td>
            </tr>
            <tr>
                <td class="info-column-card-out">领取数量</td>
                <td class="info-cell-card-out">${detail.amount!}</td>
            </tr>
            <tr>
                <td class="info-column-card-out vertical-td">卡明细</td>
                <td class="info-cell-card-out">
                    <% for(item in detail.applyCards) { %>
                    <ul>${item!}</ul>
                    <% } %>
                </td>
            </tr>
        </table>
    </div>
</div>
</#bs4Body>
