/*
.search-collapse, .select-table {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
*/

/*.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0);
}

.table-striped table thead {
    background-color: #eff3f8;
}*/

/*.btn {
    margin-right: 5px;
}*/



/*.col-form-label {
    text-align: right;
}

.container-fluid {
    margin-top: 15px;
}*/


.nav-tabs {
    background-color: #f0f3f6
}

.nav-tabs .nav-link {
    border: none;
}

.nav-link.active {
    background-color: #f0f3f6 !important;
}

.nav-link {
    padding-bottom: 0;
    padding-top: 0;
}

.nav-link.active > .nav-title {
    font-weight: bold;
    color: #212529;
    border-bottom: .37rem solid #007BFF !important;
}

.nav-link >.nav-title {
    line-height: 2;
    color: #6C757D;
    margin-bottom: 0;
}

.nav-tabs {
    border: none;
}


