<#bs4Body>

<div class="container-fluid">
	<form id="withdrawalForm">
		<div class="breadcrumb">
			提款信息
		</div>
		<div class="row row-cols-1">
			<div class="form-group col">
				<label>提款账户</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
			<div class="form-group col">
				<label>提现方式</label>
				<input type="text" class="form-control" value="提现方式" readonly>
			</div>
			<div class="form-group col">
				<label>提款金额</label>
				<div class="input-group">
					<input type="number" class="form-control" maxlength="20" required>
					<div class="input-group-append">
						<span class="input-group-text">元</span>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label>选择银行卡</label>
				<div class="input-group">
					<select id="departmentId" name="" class="form-control" required></select>
					<#bcomboProvider _id="" _provider="bindBankProvider" />
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="authBindBtn">绑定新的银行卡</button>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label>交易密码</label>
				<div class="input-group">
					<input type="number" class="form-control" maxlength="6" required>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="pswBtn">输入密码</button>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button type="button" class="btn btn-secondary px-5" id="withdrawalBtn">确认提现</button>
		</div>
	</form>
	<div>
		<div class="breadcrumb">
			市场账户信息
		</div>
		<div class="row row-cols-1">
			<div class="form-group col">
				<label>市场名称</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
			<div class="form-group col">
				<label>账户</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
			<div class="form-group col">
				<label>账户余额</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
			<div class="form-group col">
				<label>冻结金额</label>
				<input type="text" class="form-control" value="" readonly>
			</div>

			<div class="form-group col">
				<label>可提金额</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
		</div>
		<div class="breadcrumb">
			提现记录
		</div>
		<div>
			提现记录列表
		</div>
	</div>

</div>
</#bs4Body>
<script type="text/javascript"
		src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript"
		src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<#common_cardBaseJs/>
<#firmwithdraw_addJs/>

<#comment>
页面层弹框
</#comment>
<script id="checkPassword" type="text/html">
	<div class="form-group col">
		<label for="accountType" class="div_label">园区卡密码</label>
		<input type="password" id="password" maxlength=6 name="password">
		<button id="pwdBtn" type="button" class="btn btn-primary">
			请输入密码
		</button>
	</div>
</script>