<#bs4Body>
<#vueElm/>
<div class="container-fluid" id ="v">
	<div>
		<div class="breadcrumb">
			账户信息
		</div>
		<form id="withdraw-form">
			<div class="row row-cols-3">
				<div class="form-group col">
					<label>提款账户</label>
					<input type="text" class="form-control" value="${result.firm.name!}" readonly>
				</div>
			</div>
			<div class="row row-cols-3">
				<div class="form-group col">
					<label>提款金额</label>
					<input type="text" name="amount" id = "amount" class="form-control" >
				</div>
			</div>

			<div class="row row-cols-3">
				<div class="form-group col">
					<label>提现方式</label>
					<input type="text" class="form-control" value="银行卡提现" readonly>
				</div>
			</div>
			<div class="row row-cols-3">
				<div class="form-group col">
					<label>选择银行卡</label>
					<select class="custom-select" name="bankCardId" id="bankCardId" v-model="selectedBankCardId" @change='buildSelectedBankCard'>
						<option value="">--请选择--</option>
						<option v-for='item in bindBankList' :value="item.id">
							{{ item.bankName }}
						</option>
					</select>
					<a href="javascript:void(0)" onclick="openAuthConfirmModal()">选择其他银行卡</a>
				</div>
			</div>
			<div class="row row-cols-3">
				<div class="form-group col">
					<label>交易密码</label>
					<div class="input-group mb-3">
						<input type="password" id="tradePwd" maxlength=6 name="tradePwd" class="form-control" value="123456" readonly>
						<div class="input-group-append">
							<button id="pwdBtn" class="btn btn-primary" type="button" onclick="readFirmWithdrawPwd()">输入密码</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div align="center" class="mt-5">
			<button id="frozenAccount" type="button"  class="btn btn-primary px-5"   @click="submit()">
				确认提现
			</button>
		</div>
	</div>
	<hr>
		<div class="breadcrumb">
			市场信息
		</div>
		<div id="mer-info">
			<div class="row row-cols-4">
				<div class="form-group col">
					<label>市场编号</label>
					<input type="text" class="form-control" value="${result.merInfo.code!}" readonly>
				</div>
				<div class="form-group col">
					<label>市场名称</label>
					<input type="text" class="form-control" value="${result.merInfo.name!}" readonly>
				</div>
			</div>
			<div class="row row-cols-4">
				<div class="form-group col">
					<label>账户余额</label>
					<input type="text" class="form-control" value="${result.balanceInfo.balanceText!}" readonly>
				</div>
				<div class="form-group col">
					<label>冻结金额</label>
					<input type="text" class="form-control" value="${result.balanceInfo.frozenAmountText!}" readonly>
				</div>
				<div class="form-group col">
					<label>可提金额</label>
					<input type="text" class="form-control" value="${result.balanceInfo.availableAmountText!}" readonly>
				</div>
			</div>
		</div>

		<!-- 提现记录列表 -->
		<div >
			<div class="breadcrumb">
				提现记录
			</div>
			<form id="queryForm" role="form">
				<input type="hidden" class="form-control" name="accountId" id="accountId" value="${result.merInfo.vouchAccount!}" />
				<input type="hidden" class="form-control" name="type" id="type" value="12"/>
				<input type="hidden" class="form-control" name="tradeChannel" id="tradeChannel" value="5"/>
			</form>
			<table id="grid" data-title="圈提记录列表"
				   data-buttons-class="primary" data-icons="bui.variable.icons">
				<thead>
				<tr>
					<th data-field="toAccount" data-align="center">
						银行卡号
					</th>
					<th data-field="pipeline"  data-align="center" >
						银行名称
					</th>
					<th data-field="toName" data-align="center">
						账户名称
					</th>
					<th data-field="amountText" data-align="center">
						圈提金额
					</th>
					<th data-field="feeText" data-align="center">
						手续费
					</th>
					<th data-field="operatorName" data-align="center">
						操作员
					</th>
					<th data-field="createdTime" data-align="center">
						交易时间
					</th>
					<th data-field="serialNo" data-align="center">
						业务流水号
					</th>
					<th data-field="stateText" data-align="center">
						处理状态
					</th>
				</tr>
				</thead>
			</table>
		</div>
</div>
</#bs4Body>
<#common_cardBaseJs/>
<#firmwithdraw_common/>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/form.formatter.js"></script>
<script id="confirmCommit" type="text/html">
	<div style='font-size: 18px'>
		<span>确认账户 ${result.merInfo.name!} （）提现？</span>
	</div>
	<div style='text-align: center;color: red'>
		<h3>{{withdrawAmount}}</h3>
	</div>
</script>
<script>

	let formId = "withdraw-form";
	$(function () {
		let options = {
			uniqueId: "id",
			url : "${contextPath}/firmWithdraw/withdrawPage.action",
			sortName: "create_time",
			modalName: "圈提查询列表"
		};
		$.table.init(options);
		$("#" + formId).validate({
			onkeyup: false,
			rules: {
				amount: {
					required: true,
					decimalsValue: true,
				},
				bankCardId:{
					required: true
				},
				tradePwd: {
					required: true,
				},
			},
			messages: {
				amount: {
					required: "请输入提款金额",
				},
				bankCardId:{
					required: "请选择提款银行卡"
				},
				tradePwd: {
					required: "请输入交易密码",
				}
			},
			focusCleanup: true
		});
	});

	let vue = new Vue({
		el: '#v',
		data() {
			return {
				selectedBankCard: {},
				selectedBankCardId: "",
				requestData: {
					amount: 0,
					tradePwd: ""
				},
				bindBankList: [],
			}
		},
		mounted: function(){
			this.getBindBankList();
		},
		methods: {
			buildSelectedBankCard(){
				let that = this;
				console.log('您选择了', this.selectedBankCardId)
				this.bindBankList.forEach((val) => {
					if ($.common.isEmpty(that.selectedBankCardId)) {
						that.selectedBankCard = {};
						console.log(that.selectedBankCard);
						return;
					}
					if (that.selectedBankCardId == val.id) {
						that.selectedBankCard = {
							toAccount: val.bankNo,
							toName: val.bankName,
							toType: val.bankAccountType,
							toBankType: val.bankType,
							bankNo: val.openingBankNum,
							bankName: val.openingBank
						};
						console.log(that.selectedBankCard)
					}
				})
			},
			//获取绑定银行卡列表
			getBindBankList(){
				let that = this;
				$.ajax({
					type: "GET",
					data: {
						accountId : ${result.merInfo.vouchAccount!}
					},
					url: '${contextPath}/bindBankCard/list.action',
					success: function (ret) {
						if (ret.success){
							that.bindBankList = ret.data;
						}
					}
				});
			},
			//提交提款请求
			submit(){
				let amountVal = $("#amount").val();
				if (!$.validate.form(formId)) {
					return;
				}
				let templateData = {
					withdrawAmount: parseFloat(amountVal).toFixed(2)
				};
				let that = this;
				$.modal.confirm(bui.util.HTMLDecode(template('confirmCommit', templateData)), function (sure) {
					if (!sure) {
						return;
					}
					let requestData = {
						amount: yuanToFen(amountVal),
						tradePwd: $("#tradePwd").val(),
						channelAccount : that.selectedBankCard
					};
					console.log(requestData);
					let url = '${contextPath}/firmWithdraw/withdraw.action';
					$.operate.post(url, requestData);
				});
			}
		},

	});
</script>
