<#bs4Body>
<#vueElm/>
<div class="container-fluid" id ="v">
	<div>
		<div class="breadcrumb">
			账户信息
		</div>
		<form id="withdraw-form">
			<div class="row row-cols-6">
				<label class="col-2 text-right">提款账户</label>
				<select id="firmAccount" name="firmAccount" class="form-control row-cols-8"  @change='getFirmAccountInfo'></select>
				<#bcomboProvider _id="firmAccount" _provider="firmProvider" />
				<div class="input-group-append">
					<button v-show="firmInfo.merInfo.profitAccount != 0" class="btn btn-primary" type="button" onclick="openUpdatePwdModal()">修改密码</button>
				</div>
			</div>
			<br/>
			<div class="row row-cols-6">
					<label class="col-2  text-right">提款金额</label>
					<input type="text" name="amount" id = "amount" max="9999999.99" class="form-control" >
			</div>
			<br/>
			<div class="row row-cols-6">
					<label class="col-2  text-right">提现方式</label>
					<input type="text" class="form-control" value="银行卡提现" readonly>
			</div>
			<br/>
			<div class="row row-cols-6">
					<label class="col-2 text-right">选择银行卡</label>
					<select class="custom-select" name="bankCardId" id="bankCardId" placeholder="请选择" v-model="selectedBankCardId" @click='getBindBankList' @change='buildSelectedBankCard'>
						<option value="">--请选择--</option>
						<option v-for='item in bindBankList' :value="item.id">
							{{ item.bankName + "   尾号：" + item.bankNoTailNumber }}
						</option>
					</select>
					<#resource code="add_firmBindBankCard2">
						<a href="javascript:void(0)" id="addBindCardBtn" style="display: none" onclick="openAuthConfirmModal()">选择其他银行卡</a>
					</#resource>
			</div>
			<br/>
			<div class="row row-cols-6">
				<label class="col-2 text-right">交易密码</label>
				<input type="password" id="tradePwd" maxlength=6 name="tradePwd" class="form-control" readonly>
				<div class="input-group-append">
					<button id="pwdBtn" class="btn btn-primary" type="button" onclick="readFirmWithdrawPwd('tradePwd')">输入密码</button>
				</div>
			</div>
		</form>
		<div align="center" class="mt-5">
			<button id="frozenAccount" type="button"  class=" btn btn-primary px-5"   @click="submit()">
				确认提现
			</button>
		</div>
	</div>
	<hr>
		<div class="breadcrumb">
			市场信息
		</div>
		<div id="mer-info">
			<div class="row">
				<div class="form-group row col-6">
					<label class="col-3 text-right">市场名称</label>
					<input type="text" id="merInfoName" class="form-control col-6" v-model="firmInfo.merInfo.name" readonly>
				</div>
				<div class="form-group row col-6">
					<label class="col-3 text-right">账户</label>
					<input type="text" class="form-control col-6"  v-model="firmInfo.merInfo.profitAccount" readonly>
				</div>
			</div>
			<div class="row">
				<div class="form-group row col-6">
					<label class="col-3 text-right">账户余额</label>
					<input type="text" class="form-control col-6" v-model="firmInfo.balanceInfo.balanceText" readonly>
				</div>
				<div class="form-group  row col-6">
					<label class="col-3 text-right">冻结金额</label>
					<input type="text" class="form-control col-6" v-model="firmInfo.balanceInfo.frozenAmountText" readonly>
				</div>
			</div>
			<div class="row">
				<div class="form-group  row col-6">
					<label class="col-3 text-right">可提金额</label>
					<input type="text" class="form-control col-6" v-model="firmInfo.balanceInfo.availableAmountText" readonly>
				</div>
			</div>
		</div>

		<!-- 提现记录列表 -->
		<div id="withdrawTableDiv" style="display: none">
			<div class="breadcrumb">
				提现记录
			</div>
			<form id="queryForm" role="form">
				<input type="hidden" class="form-control" name="fundAccountId" id="fundAccountId" v-model="firmInfo.merInfo.profitAccount" />
				<input type="hidden" class="form-control" name="type" id="type" value="12"/>
				<input type="hidden" class="form-control" name="tradeChannel" id="tradeChannel" value="5"/>
			</form>
			<table id="grid" data-title="圈提记录列表"
				   data-buttons-class="primary" data-icons="bui.variable.icons">
				<thead>
				<tr>
					<th data-field="toAccount" data-align="center">
						银行卡号
					</th>
					<th data-field="pipeline"  data-align="center" >
						银行名称
					</th>
					<th data-field="toName" data-align="center">
						账户名称
					</th>
					<th data-field="amountText" data-align="center">
						圈提金额
					</th>
					<th data-field="feeText" data-align="center">
						手续费
					</th>
					<th data-field="operatorName" data-align="center">
						操作员
					</th>
					<th data-field="createdTime" data-align="center">
						交易时间
					</th>
					<th data-field="serialNo" data-align="center">
						业务流水号
					</th>
					<th data-field="stateText" data-align="center">
						处理状态
					</th>
				</tr>
				</thead>
			</table>
		</div>
</div>
</#bs4Body>
<#common_cardBaseJs/>
<#firmwithdraw_init/>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/form.formatter.js"></script>
<script id="confirmCommit" type="text/html">
	<div style='font-size: 18px'>
		<span>确认账户  （{{merInfoName}}）提现？</span>
	</div>
	<div style='text-align: center;color: red'>
		<h3>{{withdrawAmount}}</h3>
	</div>
</script>

<script id="postWithdraw" type="text/html">
	<span>{{message}}</span>
	<br/>
	<div>
	订单号:{{serialNo}}
	</div>
</script>

<!--修改密码弹出框-->
<script id="updatePwdModal" type="text/html">
	<form id="update-pwd-form">
		<div class="row row-cols-1"  style="text-align: center">
			<div class="input-group mb-3">
				<label class="col-3 text-right">账户</label>
				<input type="text" class="form-control col-6" value="{{fundAccountId}}" readonly>
			</div>
			<div class="input-group mb-3">
				<label class="col-3 text-right">市场名称</label>
				<input type="text" class="form-control col-6" value="{{merInfoName}}" readonly>
			</div>
			<div class="input-group mb-3">
				<label class="col-md-3 col-form-label">原密码</label>
				<% if(isNotEmpty(allowInput) && allowInput == "1") {%>
				<input type="password" id="oldPassword" name="oldPassword" class="form-control col-md-6" maxlength="6"/>
				<% } else { %>
				<input type="password" id="oldPassword" name="oldPassword" class="form-control col-md-6" maxlength="6" readonly/>
				<% } %>
				<div class="input-group-append">
					<button type="button" onclick="readFirmWithdrawPwd('u_oldPassword')" class="btn btn-primary">
						输入密码
					</button>
				</div>
			</div>
			<div class="input-group mb-3">
				<label class="col-md-3 col-form-label">新密码</label>
				<% if(isNotEmpty(allowInput) && allowInput == "1") {%>
				<input type="password" id="newPassword" name="newPassword" class="form-control col-md-6" maxlength="6"/>
				<% } else { %>
				<input type="password" id="newPassword" name="newPassword" class="form-control col-md-6" maxlength="6" readonly/>
				<% } %>
				<div class="input-group-append">
					<button type="button" onclick="readFirmWithdrawPwd('u_newPassword')" class="btn btn-primary">
						输入密码
					</button>
				</div>
			</div>
			<div class="input-group mb-3">
				<label class="col-md-3 col-form-label">确认密码</label>
				<% if(isNotEmpty(allowInput) && allowInput == "1") {%>
				<input type="password" id="secondConfirmPwd" name="secondConfirmPwd" class="form-control col-md-6" maxlength="6"/>
				<% } else { %>
				<input type="password" id="secondConfirmPwd" name="secondConfirmPwd" class="form-control col-md-6" maxlength="6" readonly/>
				<% } %>
				<div class="input-group-append">
					<button type="button" onclick="readFirmWithdrawPwd('u_confirmPwd')" class="btn btn-primary">
						输入密码
					</button>
				</div>
			</div>
		</div>
	</form>
</script>
<script>

	let formId = "withdraw-form";
	$(function () {
		//var firmFundAccountId = $("#firmFundAccountId").val();
		//buildSelectedBankCard(firmFundAccountId);
		initTable();

		$("#" + formId).validate({
			onkeyup: false,
			rules: {
				amount: {
					required: true,
					decimalsValue: true,
				},
				bankCardId:{
					required: true
				},
				tradePwd: {
					required: true,
				},
			},
			messages: {
				amount: {
					required: "请输入提款金额",
				},
				bankCardId:{
					required: "请选择提款银行卡"
				},
				tradePwd: {
					required: "请输入交易密码",
				}
			},
			focusCleanup: true
		});
	});

	function initTable(){
		let options = {
			uniqueId: "id",
			url : "${contextPath}/firmWithdraw/withdrawPage.action",
			sortName: "create_time",
			modalName: "圈提查询列表",
			queryParams: function (params) {
				let data = $.table.queryParams(params);
				data.firmAccount = $("#firmAccount").val();
				return data;
			}
		};
		$.table.init(options);
	}
	let vue = new Vue({
		el: '#v',
		data() {
			return {
				selectedBankCard: {},
				selectedBankCardId: "",
				requestData: {
					amount: 0,
					tradePwd: ""
				},
				bindBankList: [],
				firmInfo: {
					firm: {},
					merInfo: {
						profitAccount: 0
					},
					balanceInfo:{
						accountId: 0
					}
				}
			}
		},
		mounted: function(){

		},
		methods: {
			resetFormInput(){
				$("#tradePwd").val("");
				$("#amount").val("");
				this.selectedBankCardId = "";
			},
			// 获取市场帐户详情
			getFirmAccountInfo(){
				let firmId = $("#firmAccount").val();
				this.resetFormInput();
				if(firmId == ""){
					Object.assign(this.$data, this.$options.data());
					$('#withdrawTableDiv').hide();
					$('#addBindCardBtn').hide();
					return;
				}
				$('#addBindCardBtn').show();
				$.ajax({
					type: "GET",
					data: {
						firmId : firmId
					},
					url: '${contextPath}/firmWithdraw/getFirmInfo.action',
					success: function (ret) {
						if (ret.success){
							vue.firmInfo = ret.data;
							vue.getBindBankList();
							$("#fundAccountId").val(vue.firmInfo.merInfo.profitAccount); // 手动设置，VUE绑定的值没有及时更新
                        	$.table.refresh();
                        	$('#withdrawTableDiv').show();
						}
					}
				});
			},
			buildSelectedBankCard(){
				let that = this;
				//$("#tradePwd").val("");
				//this.resetFormInput();
				this.bindBankList.forEach((val) => {
					if ($.common.isEmpty(that.selectedBankCardId)) {
						that.selectedBankCard = {};
						return;
					}
					if (that.selectedBankCardId == val.id) {
						that.selectedBankCard = {
							toAccount: val.bankNo,
							toName: val.bankName,
							toType: val.bankAccountType,
							toBankType: val.bankType,
							bankNo: val.openingBankNum,
							bankName: val.openingBank
						};
					}
				})
			},
			//获取绑定银行卡列表
			getBindBankList(){
				$.ajax({
					type: "GET",
					data: {
						fundAccountId : vue.firmInfo.balanceInfo.accountId
					},
					async:true,
					url: '${contextPath}/bindBankCard/list.action',
					success: function (ret) {
						if (ret.success){
							vue.bindBankList = ret.data;
						}
					}
				});
			},
			//提交提款请求
			submit(){
				let amountVal = $("#amount").val();
				if (!$.validate.form(formId)) {
					return;
				}
				if (amountVal > 9999999.99) {
					bs4pop.alert("单次圈提最高金额为9999999.99元", {type: 'error'});
					return;
				}
				let templateData = {
					merInfoName: $("#merInfoName").val(),
					withdrawAmount: parseFloat(amountVal).toFixed(2)
				};
				let that = this;
				$.modal.confirm(bui.util.HTMLDecode(template('confirmCommit', templateData)), function (sure) {
					if (!sure) {
						return;
					}
					let requestData = {
						amount: yuanToFen(amountVal),
						tradePwd: $("#tradePwd").val(),
						withdrawFirmId: $("#firmAccount").val(),
						channelAccount : that.selectedBankCard,
						bindBankCardId : $("#bankCardId").val()
					};
					let url = '${contextPath}/firmWithdraw/withdraw.action';
					$.ajax({
						type: "POST",
						contentType: "application/json; charset=utf-8",
						dataType: "json",
						data: JSON.stringify(requestData),
						url: url,
						beforeSend: () => {
							$.modal.loading("正在处理中，请稍后...");
						},
						success: function (ret) {
							$.modal.closeLoading();
							if (ret.success) {
								let templateData = {
									message: "提现成功！",
									serialNo: ret.data
								};
								bs4pop.alert(bui.util.HTMLDecode(template('postWithdraw', templateData)), {type: 'success'});
								that.resetFormInput();
							} else {
								bs4pop.alert(ret.message, {type: 'error'});
							}
							//可能有处理中的情况，因此这里全部刷新(市场账户信息和圈提记录)
							that.getFirmAccountInfo();
						},
						error: (status, result) => {
							$.modal.closeLoading();
						}
					});
				});
			}
		},

	});

	// 供绑定银行卡保存成功后刷新[选择银行卡]下拉列表
	window.config={};
	window.config["vue"]=vue;
</script>
