<#bs4Body>

<div class="container-fluid">
	<form >
		<div class="row row-cols-1">
			<div class="form-group col">
				<label>账户</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
			<div class="form-group col">
				<label>市场名称</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
			<div class="form-group col">
				<label>证件号码</label>
				<input type="text" class="form-control" value="" readonly>
			</div>
			<div class="form-group col">
				<label>原密码</label>
				<div class="input-group">
					<input type="number" class="form-control" value="" required>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="">输入密码</button>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label>设置密码</label>
				<div class="input-group">
					<input type="number" class="form-control" value="" required>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="">输入密码</button>
					</div>
				</div>
			</div>
			<div class="form-group col">
				<label>确认密码</label>
				<div class="input-group">
					<input type="number" class="form-control" value="" required>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" id="">确认密码</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
</#bs4Body>
<script type="text/javascript"
	src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript"
	src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
