<#bs4Body>
<style>
.info-column {
        font-weight: bold ;
    }
.model-div {
	border-bottom: #B5B5B5 1px solid;
	margin-bottom: 10px;
}

#nav {
	height: 12px;
	margin: 15px 0px;
}

#nav ul {
	list-style: none;
}

#nav li {
	display: inline-block;
	float: left;
	margin-right: 50px;
	width: 150px;
}

.margin_bord{
	margin-left: 20px;
}

.suonue {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.child_li {
	background-color: #F6F7F9;
}

.top_div {
	background-color: #C9C9C9;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
}
</style>
<div class="model-div">
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="contractNo">合同编号</label>
			<div><input disabled="disabled" value="${detail.contractNo!}" /></div>
		</div>
		<div class="form-group col">
			<label for="stateText">状态</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.contractNo!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="startTime">合同开始日期</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.startTime!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="endTime">合同结束日期</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.endTime!}" /></span></div>
		</div>
	</div>
</div>
<div class="model-div">
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="contractInfo"  class="info-column">委托人信息</label>
		</div>
	</div>
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="consignorCode">编号</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.consignorCode!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorName">名称</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.consignorName!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorCard">委托园区卡</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.consignorCard!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorCard">&emsp;&emsp;</label>
			<div>&emsp;&emsp;</div>
		</div>
	</div>
</div>
<div class="model-div">
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="contractInfo" class="info-column">被委托人信息</label>
		</div>
	</div>
	<% for(item in detail.consignorDtos) { %>
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="consigneeName">名称</label>
			<div><span class="child_li"><input disabled="disabled" value="${item.consigneeName!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consigneeIdMobile">电话</label>
			<div><span class="child_li"><input disabled="disabled" value="${item.consigneeIdMobile!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consigneeIdCode">身份证号</label>
			<div><span class="child_li"><input disabled="disabled" value="${item.consigneeIdCode!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorCard">&emsp;&emsp;</label>
			<div>&emsp;&emsp;</div>
		</div>
	</div>
	<% } %>
</div>
<div class="">
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="contractInfo" class="info-column">操作信息</label>
		</div>
	</div>
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="consignorCode">创建人</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.creator!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorName">创建时间</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.createTime!}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorCard">&emsp;&emsp;</label>
			<div>&emsp;&emsp;</div>
		</div>
		<div class="form-group col">
			<label for="consignorCard">&emsp;&emsp;</label>
			<div>&emsp;&emsp;</div>
		</div>
	</div>
	<div class="row row-interval margin_bord">
		<div class="form-group col">
			<label for="consignorCode">解除人</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.terminater!'--'}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorName">解除时间</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.terminateTime!'--:--'}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorCard">解除说明</label>
			<div><span class="child_li"><input disabled="disabled" value="${detail.terminateNotes!'--'}" /></span></div>
		</div>
		<div class="form-group col">
			<label for="consignorCard">&emsp;&emsp;</label>
			<div>&emsp;&emsp;</div>
		</div>
	</div>
</div>

</#bs4Body>
