<#bs4Body>
<style>
    .info-column {
        width: 30%;
        font-weight: normal;
        text-align: right;
    }
    .info-cell-out{
        width: 70%;
        text-align: center;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }
    
    .model-div{
    	border-top: #B5B5B5 1px solid;
    }
    
    #nav {
    	height: 12px;
    	margin:18px 0px;
	}
 
	#nav ul {
	    list-style: none;
		}
	 
	  
	 
	#nav li {
	    display:inline-block;
	    float:left;
	    margin-right:50px;
	    width:150px;
		}
	.child_li{
		background-color:#CCCCCC;
	}
	
	.top_div{
		background-color:#C9C9C9;
		height: 45px;
		line-height:45px;
		font-size:18px;
	}
	
 
</style>
<div id="detail-modal">
	<div class="top_div">
		<span style="margin-left:10px;">查看资金委托信息</span>
	</div>
	<div class="model-div">
		<div id="nav">
		<ul>
    		<li>合同编号</li>
    		<li>状态</li>    
    		<li>合同开始日期</li>
    		<li>合同结束日期</li>
  		</ul>
      </div>
      <div id="nav">
		<ul>
    		<li class="child_li">${detail.contractNo!}</li>
    		<li class="child_li">${detail.state!}</li>    
    		<li class="child_li">${detail.startTime!}</li>
    		<li class="child_li">${detail.endTime!}</li>
  		</ul>
      </div>
	</div>
     <div class="model-div">
     	<div id="nav">
     		<ul>
	    		<li><span style="font-weight: normal;">委托人信息</span></li>
  			</ul>
     	</div>
     	<div id="nav">
			<ul>
	    		<li>编号</li>
	    		<li>名称</li>    
	    		<li>委托园区卡</li>
	  		</ul>
      	</div>
      	<div id="nav">
			<ul>
	    		<li class="child_li">${detail.consignorCode!}</li>
	    		<li class="child_li">${detail.consignorName!}</li>    
	    		<li class="child_li">${detail.consignorCard!}</li>
	  		</ul>
      	</div>
     </div>
      <div class="model-div">
      	<div id="nav">
     		<ul>
	    		<li>被委托人信息</li>
  			</ul>
     	</div>
      	<% for(item in detail.consignorDtos) { %>
		     <div id="nav">
				<ul>
		    		<li>名称</li>
		    		<li>电话</li>    
		    		<li>身份证号</li>
		  		</ul>
		      </div>
		      <div id="nav">
				<ul>
		    		<li class="child_li">${item.consigneeName!}</li>
		    		<li class="child_li">${item.consigneeIdMobile!}</li>    
		    		<li class="child_li">${item.consigneeIdCode!}</li>
		  		</ul>
		      </div>
      	<% } %>
      </div>
      <div class="model-div">
      	<div id="nav">
     		<ul>
	    		<li>操作信息</li>
  			</ul>
     	</div>
      	<div id="nav">
			<ul>
	    		<li>创建人</li>
	    		<li>创建时间</li>    
	  		</ul>
      	</div>
      	<div id="nav">
			<ul>
	    		<li class="child_li">${detail.creator!}</li>
	    		<li class="child_li">${detail.createTime!}</li>    
	  		</ul>
      	</div>
      	<div id="nav">
			<ul>
	    		<li>解除人</li>
	    		<li>解除时间</li>   
	    		<li>解除说明</li>  
	  		</ul>
     	 </div>
      	<div id="nav">
			<ul>
	    		<li class="child_li">${detail.terminater!'--'}</li>
	    		<li class="child_li">${detail.terminateTime!'--:--'}</li> 
	    		<li class="child_li">${detail.terminateNotes!'--'}</li>    
  			</ul>
      	</div>
      </div>
</div>    
</#bs4Body>
