<#bs4Body>

<div class="model-div container-fluid">
	<div class="breadcrumb">
		合同信息
	</div>
	<div class="row row-cols-4">
		<div class="form-group col">
			<label>合同编号</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.contractNo!}" />
		</div>
		<div class="form-group col">
			<label>状态</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.stateText!}" />
		</div>
		<div class="form-group col">
			<label>合同开始日期</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.startTime!}" />
		</div>
		<div class="form-group col">
			<label>合同结束日期</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.endTime!}" />
		</div>
	</div>
</div>
<div class="model-div container-fluid">
	<div class="breadcrumb">
		委托人信息
	</div>
	<div class="row row-cols-4">
		<div class="form-group col">
			<label>编号</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.consignorCode!}" />
		</div>
		<div class="form-group col">
			<label>名称</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.consignorName!}" />
		</div>
		<div class="form-group col">
			<label>委托园区卡</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.consignorCard!}" />
		</div>
	</div>
</div>
<div class="model-div container-fluid">
	<div class="breadcrumb">
		被委托人信息
	</div>
	<% for(item in detail.consignorDtos) { %>
	<div class="row row-cols-4">
		<div class="form-group col">
			<label>名称</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${item.consigneeName!}" />
		</div>
		<div class="form-group col">
			<label>电话</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${item.consigneeIdMobile!}" />
		</div>
		<div class="form-group col">
			<label>身份证号</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${item.consigneeIdCode!}" />
		</div>
	</div>
	<% } %>
</div>
<div class="container-fluid">
	<div class="breadcrumb">
		操作信息
	</div>
	<div class="row row-cols-4">
		<div class="form-group col">
			<label>创建人</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.creator!}" />
		</div>
		<div class="form-group col">
			<label>创建时间</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.createTime!}" />
		</div>
	</div>
	<div class="row row-cols-4">
		<div class="form-group col ">
			<label>解除人</label>
			<input  type="text" class="form-control"  readonly="readonly" type="text" class="form-control" value="${detail.terminater!'--'}" />
		</div>
		<div class="form-group col">
			<label>解除时间</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.terminateTime!'--:--'}" />
		</div>
		<div class="form-group col">
			<label>解除说明</label>
			<input  type="text" class="form-control"  readonly="readonly" value="${detail.terminateNotes!'--'}" />
		</div>
	</div>
</div>

</#bs4Body>
