<#bs4Body>
<style>
    .info-column {
        width: 15%;
        font-weight: bold;
        text-align: right;
        vertical-align: middle;
    }
    .info-cell{
        width: 850%;
        text-align: left;
        vertical-align: middle;
    }
    .td_input{
    	width: 120px; 
    	float: left;
    	margin-right:25px;
    }
    .td_button{
    	width: 100px; 
    	float: left;
    }
    
    p{
    	margin: 0px;
    }
    
    .per_div{
		display: flex;
    	justify-content: flex-start;
    	height:40px;
	}
	.per_div_child{
		margin-right:15px;
	}
	.div_container{
		display:flex;
        justify-content:center;
        align-items:center;
	}
	.div_container_content{
		height: 20px;width: 100px;text-align: center;line-height:20px;
	}
	.triangle {
           border: 1px solid #333;
           width: 140px;
           height: 30px;
           background: linear-gradient(
              to top right,
              rgba(255,255,255, 0.1) 0%,
              rgba(255,255,255, 0.1) calc(50% - 1px),
              rgba(0, 0, 0, 0.8) 50%,
              rgba(255,255,255, 0.1) calc(50% + 1px),
              rgba(255,255,255, 0.1) 100%
           ), 
          linear-gradient(
              to bottom right,
              rgba(255,255,255, 0.1) 0%,
              rgba(255,255,255, 0.1) calc(50% - 1px),
              rgba(0, 0, 0, 0.8) 50%,
              rgba(255,255,255, 0.1) calc(50% + 1px),
              rgba(255,255,255, 0.1) 100%
           );
		}
</style>
<div class="main-container container-fluid">
    <#bs4nav>
    <form  id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="state">委托状态</label>
                <select name="state" id="state"  class="form-control"></select>
                <#bcomboProvider _id="state" _provider="contractStateProvider" _queryParams='{emptyText:"-- 状态 --"}'/>
            </div>
            <div class="form-group col">
                <label for="customerName" class="">委托人</label>
                <#bautoCompleteProvider _hiddenDomainId="consignorCustomerId" _hiddenDomainName="consignorCustomerId" _displayDomainId="customerName" _displayDomainName="customerName" _placeholder="" _optionVariable="customerNameQueryAutoCompleteOption"/>
            </div>
            <div class="form-group col-auto">
                <label for="cardNo">委托卡</label>
                <input param-multiple="true" name="cardNo" id="cardNo" type="text" class="form-control"  />
            </div>
             <div class="form-group col-auto">
                <label for="consigneeMobile">被委托人手机号</label>
                <input param-multiple="true" name="consigneeMobile" id="consigneeMobile" type="text" class="form-control"  />
            </div>
             <div class="form-group col-auto">
                <label for="contractNo">合同编号</label>
                <input param-multiple="true" name="contractNo" id="contractNo" type="text" class="form-control"  />
            </div>
             <div class="form-group col-auto">
                <label for="days">距离到期天数</label>
                <input param-multiple="true" name="days" id="days" type="text" class="form-control"  />
            </div>
            <#component_dateControls
            _labelText="创建时间"
            _startDateParam="createStartTime"
            _endDateParam="createEndTime"/>
            <div class="col align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="$.table.search()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>
</#bs4nav>
</div>
85
<div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
	<button id="btn_add" type="button" class="btn btn-primary" onclick="openAddView()"><i class="fa fa-plus"></i> 新增</button>
	<button id="btn_remove" type="button" class="btn btn-primary" onclick="$.operate.removeWithTitle(null,'40%','60%','信息确认')"><i class="fa fa-trash-o"></i> 解除</button>
	<button id="btn_preview" type="button" class="btn btn-primary" onclick="viewHandler()"><i class="fa fa-list"></i> 合同预览</button>
	<button id="btn_detail" type="button" class="btn btn-primary" onclick="$.operate.detail(null,'75%','80%')"><i class="fa fa-list"></i> 查看</button>
    <button id="btn_reprint" type="button" class="btn btn-primary" onclick="viewHandler()"><i class="fa fa-list"></i> 补打</button>
    <button id="btn-export" type="button" class="btn btn-primary" onclick="$.table.exportExcel('queryForm')"><i
            class="fa fa-file-excel-o"></i>
        导出
    </button>
</div>

<div class="row">
    <div class="col-12">
        <table id="grid"
               data-show-fullscreen="true"
               data-buttons-class="primary"
               data-icons="bui.variable.icons">
            <thead>
            <tr>
            	<th data-radio="true"></th>
                <th data-field="contractNo"  data-align="center" >
                    合同编号
                </th>
                <th data-field="consignorName" data-align="center">
                    委托人
                </th>
                <th data-field="consignorCard" data-align="center">
                    委托卡
                </th>
                <th data-field="consigneeNames" data-align="center">
                    被委托人
                </th>
                <th data-field="consigneeMobiles" data-align="center">
                    被委托人电话
                </th>
                <th data-field="startTime" data-align="center" >
                    合同开始时期
                </th>
                <th data-field="endTime" data-align="center">
                    合同结束日期
                </th>
                <th data-field="stateText" data-align="center">
                   委托状态
                </th>
                <th data-field="createTime" data-sortable="true" data-align="center">
                    创建时间
                </th>
                <th data-field="creator" data-align="center">
                   创建人
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="addFirstModal" tabindex="-1" role="dialog" aria-labelledby="addFirstModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 830px;height: 450px;">
		<div class="modal-content" style="width: 830px;height: 450px;">
			<div class="modal-header" style="background-color: #E6E6E6;height: 45px;">
               <h5 style="height-line:45px;">新增资金委托关系</h5>
           </div>
			<div class="modal-body" style="overflow:auto;">
				 <form id="save-form">
					<table id="out-detail" class="table table-bordered">
						<tbody>
							<tr>
								<td class="info-column">委托人</td>
								<td class="info-cell"><input placeholder="客户id"
									name="consignorCustomerId" disabled="disabled" type="hidden"
									class="form-control td_input" id="consignorCustomerId"
									maxlength="50" value="1111" /> <input placeholder="编号"
									name="consignorCustomerCode" disabled="disabled" type="hidden"
									class="form-control td_input" id="consignorCustomerCode"
									maxlength="50" value="1111" /> <input placeholder="姓名"
									name="consignorCustomerName" disabled="disabled" type="text"
									class="form-control td_input" id="consignorCustomerName"
									maxlength="50" value="1111" /> <input placeholder="身份证号"
									name="consignorCustomerIDCode" disabled="disabled" type="text"
									class="form-control td_input" id="consignorCustomerIDCode"
									maxlength="50" value="1111" />
									<input placeholder="手机号"
									name="consignorCustomerMobile" type="text"
									class="form-control td_input" id="consignorCustomerMobile"
									maxlength="50" value="1111" />
									<button id="query" type="button"
										class="btn btn-secondary td_button" onclick="$.table.search()">
										<i class="fa fa-search"></i>读取身份证
									</button></td>
							</tr>
							<tr>
								<td class="info-column">委托人园区卡</td>
								<td class="info-cell"><input placeholder="园区卡"
									disabled="disabled" name="consignorCardNo" type="text"
									class="form-control td_input" id="consignorCardNo" maxlength="50"
									value="1111" /> <input name="consignorAccountId" type="text"
									class="form-control td_input" style="opacity: 0;"
									id="consignorAccountId" maxlength="50" value="1111" />
									<button id="query" type="button"
										class="btn btn-secondary td_button" onclick="$.table.search()">
										<i class="fa fa-search"></i>请刷卡
									</button></td>
							</tr>
							<tr>
								<td class="info-column">合同起止日期</td>
								<td class="info-cell">
									<div class="form-inline">
										<div class="input-group">
											<input type="text" name="startTime" id="startTime"
												class="form-control laydate" />
											<div class="input-group-append">
												<label for="startTime"
													class="input-group-text fa fa-calendar"></label>
											</div>
										</div>
										&nbsp;&nbsp;至&nbsp;&nbsp;
										<div class="input-group">
											<input type="text" name="endTime" id="endTime"
												class="form-control laydate" />
											<div class="input-group-append">
												<label for="endTime" class="input-group-text fa fa-calendar"></label>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr class="consignee">
								<td class="info-column">被委托人</td>
								<td class="info-cell"><input placeholder="姓名"
									disabled="disabled" name="consigneeName" type="text"
									class="form-control td_input" id="consigneeName" maxlength="50"
									value="1111" /> <input placeholder="身份证号" disabled="disabled"
									name="consigneeIdCode" type="text"
									class="form-control td_input" id="consigneeIdCode"
									maxlength="50" value="1111" /> <input placeholder="手机号"
									name="consigneeIdMobile" type="text"
									class="form-control td_input" id="consigneeIdMobile"
									maxlength="50" value="1111" />
									<button type="button"
										class="btn btn-secondary td_button readID"
										onclick="readIDCode()">
										<i class="fa fa-search"></i>读取身份证
									</button> <label onclick="addConsignee()"
									style="height: 34px; padding: 0px 15px;"><i
										class="fa fa-plus"
										style="color: #fF0000; font-size: 20px; margin-top: 7px;"
										aria-hidden="true"></i></label></td>
							</tr>
							<tr id="notesBefore">
								<td class="info-column">备注</td>
								<td class="info-cell"><textarea placeholder="委托备注"
										style="width: 55%;" id="notes" name="notes"></textarea></td>
							</tr>
					</table>
				</form>
			</div>
			<div style="display: table-cell; text-align: center;margin-top:10px;margin-bottom:20px;">
				<div style="width: 49%;float: left;">
					<button type="button" class="btn btn-primary"
					style="margin-right:50px;width: 100px;" onclick="nextStepView()">下一步</button>
				</div>
				<div style="width: 49%;float: left;">
					<button type="button" class="btn btn-secondary"
					style="margin-left:50px;width: 100px;" onclick="cancleAddView()">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addSecondModal" tabindex="-1" role="dialog" aria-labelledby="addSecondModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 820px;height: 445px;">
		<div class="modal-content" style="width: 820px;height: 445px;">
			<div class="modal-header" style="background-color: #E6E6E6;height: 45px;">
               <h5 style="height-line:45px;">新增资金委托关系</h5>
           </div>
			<div class="modal-body" style="overflow:auto;">
				<div>
					<h4 style="text-align: center">资金授权委托协议书</h4>
					<p>寿光地利农产品物流园有限公司：</p>
					<p style="text-indent: 2em">
						本人 <font color="#FC1D24"><span id="consignorCustomerName2"></span></font> 与贵公司签订《资金委托协议书》，
						现委托<font color="#FC1D24"><span id="consigneeNames2"></span></font> 持本人
						<font color="#FC1D24"><span id="cardNo2"></span></font>园区卡， 
						在<font color="#FC1D24"><span id="startTimeYear"></span></font>年
						<font color="#FC1D24"><span id="startTimeMonth"></span></font>月
						<font color="#FC1D24"><span id="startTimeDay"></span></font>日 
						 至 <font color="#FC1D24"><span id="endTimeYear"></span></font>年
						<font color="#FC1D24"><span id="endTimeMonth"></span></font>月
						<font color="#FC1D24"><span id="endTimeDay"></span></font>日
						规定时间内负责资金代取汇款业务， 因此期间产生的所有纠纷由我本人全部承担。
					</p>
					<p >委托人：</p>
					<p style="text-indent: 2em">
						名称：<font color="#FC1D24"><span id="consignorCustomerName3"></span></font> ， 身份证号：<font color="#FC1D24"><span id="consignorCustomerIDCode2"></span></font>，
						联系电话：<font color="#FC1D24"><span id="consignorCustomerMobile2"></span></font>
					</p>
					<p>被委托人：</p>
					<div id="consigneeAlls"></div>
				</div>
				<div style="height: 40px; margin-top: 15px;">
					<div class="per_div">
						<div style="width: 100px;" class="per_div_child">
							<p style="height: 30px; line-height: 30px;">委托人签名：</p>
						</div>
						<div class="triangle per_div_child div_container">
							<div class="div_container_content">
								<span style="background-color: #FFFFFF;" id="consignorCustomerName4"></span>
							</div>
						</div>
						<button id="signature" style="height: 30px;" type="button"
							class="btn btn-primary per_div_child" onclick="signature()">请签名</button>
							<input type="hidden" id="signatureImagePath" name="signatureImagePath" value="tt">
					</div>
				</div>
				<div  id="consignorCustomer"></div>
			</div>
			<div style="display: table-cell; text-align: center;margin-top: 15px;margin-bottom:20px;">
				<div style="width: 49%;float: left;">
					<button type="button" class="btn btn-primary"
					style="margin-right:50px;width: 100px;" onclick="submitData(this)">保存</button>
				</div>
				<div style="width: 49%;float: left;">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"
					style="margin-left:50px;width: 100px;" onclick="backToFirst()">返回</button>
				</div>
			</div>
		</div>
	</div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#contract_indexJs/>
<#common_customerJs/>
<script>
    $(function () {
    	$("#addFirstModal").on("hidden.bs.modal", function() { 
    		$(this).removeData("bs.modal"); 
    		});
        let options = {
            //必须加这个唯一标识
            uniqueId: "id",
			url : "${contextPath}/contract/list.action",
			createUrl : "${contextPath}/contract/addFirst.html",
			detailUrl : "${contextPath}/contract/detail.html?id={id}",
			removeUrl : "${contextPath}/contract/remove.html/{id}",
			sortName : "create_time",
			modalName : "查看资金委托信息"
		};
		$.table.init(options);
	});

	function openAddView() {
		$('#addFirstModal').modal('show');
	}
	
	function nextStepView() {
		nextStep();
		$('#addFirstModal').modal('hide');
		fillSecondViewData();
		$('#addSecondModal').modal('show');
	}
	
	/**
	 * 添加被委托人信息
	 */
	let consignee='<tr class="consignee"><td class="info-column">被委托人</td><td class="info-cell">' + 
        	'<input placeholder="姓名" disabled="disabled" value="3333" name="consigneeName" type="text" class="form-control td_input"  id="consigneeName" maxlength="50"/>' + 
        	'<input placeholder="身份证号" disabled="disabled" value="3333" name="consigneeIdCode" type="text" class="form-control td_input"  id="consigneeIdCode" maxlength="50"/>' + 
        	'<input placeholder="手机号" name="consigneeIdMobile" value="3333" type="text" class="form-control td_input"  id="consigneeIdMobile" maxlength="50"/>' + 
        	'<button type="button" class="btn btn-secondary td_button readID" onclick="readIDCode()"><i class="fa fa-search"></i>读取身份证</button>' + 
        	'<label onclick="minusConsignee(this)" class = "minus" style="height: 34px;padding:0px 15px;"><i  class="fa fa-minus" style="color:#4F94CD;font-size:20px;margin-top: 7px;" aria-hidden="true"></i></label>' + 
        	'<label onclick="addConsignee()" class = "plus" style="height: 34px;padding:0px 15px;"><i  class="fa fa-plus" style="color:#fF0000;font-size:20px;margin-top: 7px;" aria-hidden="true"></i></label></td</tr>';
	
    let consugnee1= '<div class="per_div"><div style="width: 100px;" class="per_div_child">' + 
					'<p style="height: 30px; line-height: 30px;">被委托人签名：</p></div>' + 
					'<div class="triangle per_div_child div_container"><div class="div_container_content">' + 
					'<span style="background-color: #FFFFFF;">consugneeName</span></div>' + 
					'</div><button id="signature" type="button" style="height: 30px;"' + 
					'class="btn btn-primary per_div_child" onclick="signature()">请签名</button><input type="hidden" id="signatureImagePathConsugnee" name="signatureImagePathConsugnee" value="rr"></div>'; 	
        	
        	
    function addConsignee() {
		var list=$(".consignee");
		if(list.length == 3){
			$.modal.alertWarning("最多三位被委托人")
			return;
		}
		$('#notesBefore').before(consignee);
	}
	
	function minusConsignee(e) {
		$(e).closest(".consignee").remove();
	}
	let data = {};
	function nextStep(){
		data = {};
		data.customerId=parseInt($('#consignorCustomerId').val());
		data.consignorCustomerName=$('#consignorCustomerName').val();
		data.cardNo=$('#consignorCardNo').val();
		data.consignorCustomerIDCode=$('#consignorCustomerIDCode').val();
		data.consignorCustomerMobile=$('#consignorCustomerMobile').val();
		data.consignorCustomerCode=$('#consignorCustomerCode').val();
		data.consignorAccountId=parseInt($('#consignorAccountId').val());
		data.startTime=$('#startTime').val();
		data.endTime=$('#endTime').val();
		let items = [];
		let consigneeNames='';
		$(".consignee").each(function () {
			let item = {};
			item.consigneeName=$(this).find("#consigneeName").val();
			consigneeNames = consigneeNames.concat("、",item.consigneeName);
			item.consigneeIdCode=$(this).find("#consigneeIdCode").val();
			item.consigneeIdMobile=$(this).find("#consigneeIdMobile").val();
			items.push(item);
		})
        data.consignors=items;
		data.consigneeNames=consigneeNames.substring(1);
	}
	
	function fillSecondViewData(){
		$("#consignorCustomerName2").html(data.consignorCustomerName);
		$("#consigneeNames2").html(data.consigneeNames);
		$("#cardNo2").html(data.cardNo);
		let startTime = data.startTime.split("-");
		$("#startTimeYear").html(startTime[0]);
		$("#startTimeMonth").html(startTime[1]);
		$("#startTimeDay").html(startTime[2]);
		let endTime = data.endTime.split("-");
		$("#endTimeYear").html(endTime[0]);
		$("#endTimeMonth").html(endTime[1]);
		$("#endTimeDay").html(endTime[2]);
		$("#consignorCustomerName3").html(data.consignorCustomerName);
		$("#consignorCustomerName4").html(data.consignorCustomerName);
		$("#consignorCustomerIDCode2").html(data.consignorCustomerIDCode);
		$("#consignorCustomerMobile2").html(data.consignorCustomerMobile);
		
		for (i = 0; i < data.consignors.length; i++) {
			var consigneeReplace = '<p id="consigneeNameAlls" style="text-indent: 2em">' + 
			'名称：<font color="#FC1D24">'+ data.consignors[i].consigneeName +'</font> ， 身份证号：<font color="#FC1D24">'+data.consignors[i].consigneeIdCode+'</font>，' + 
			'联系电话：<font color="#FC1D24">'+data.consignors[i].consigneeIdMobile+'</font></p>';
			let consugnee2 = consugnee1;
			consugnee2 = consugnee2.replace("consugneeName", data.consignors[i].consigneeName);
			consugnee2 = consugnee2.replace(new RegExp("signatureImagePathConsugnee","g"), "signatureImagePath" + i);
			$("#consigneeAlls").append(consigneeReplace);
			$("#consignorCustomer").append(consugnee2);
		}
	}
	
	function backToFirst(){
		$('#addSecondModal').modal('hide');
		$("#consigneeAlls").empty();
		$("#consignorCustomer").empty();
		$('#addFirstModal').modal('show');
	}
	
	function cancleAddView(){
		$('#consignorCustomerId').val('');
		$('#consignorCustomerName').val('');
		$('#consignorCardNo').val('');
		$('#consignorCustomerIDCode').val('');
		$('#consignorCustomerMobile').val('');
		$('#consignorCustomerCode').val('');
		$('#consignorAccountId').val('');
		$('#startTime').val('');
		$('#endTime').val('');
		$(".consignee").each(function () {
			$(this).find("#consigneeName").val('');
			$(this).find("#consigneeIdCode").val('');
			$(this).find("#consigneeIdMobile").val('');
			if($(this).find(".minus").length != 0){
				$(this).remove();
			} 
		})
		$('#addFirstModal').modal('hide');
	}
	
	function submitData(e){
		data.signatureImagePath=$('#signatureImagePath').val();
		for (i = 0; i < data.consignors.length; i++) {
			var node  = '#signatureImagePath' + i;
			data.consignors[i].signatureImagePath=$(node).val();
		}
		$.operate.post("/contract/save.action", data, e);
	}
	
	/** 签名 */
	function signature(){
		
	}
	/** 读取身份证 */
	function readIDCode(){
		
	}
</script>
