<#bs4Body>
<style>
	.div_model{
		width:400px;
		height:200px;
		text-align: center;
	}
	.textarea_model{
		width:400px;
		height:100px;
	}
	.modal-dialog {
		max-width: 100% !important;
		margin:0 auto;
	}
</style>
<div style="text-align: center;" class="container-fluid">
	<div >
		<form  id="saveForm">
		<input id="id" name="id" type="hidden" value="${detail.id!}" class="form-control"/>
        	<div class="row row-cols-1">
				<div class="form-group col-12">
					<label>确认解除<span class="red font-weight-bold">${detail.consignorName!}</span>和<span class="red font-weight-bold">${detail.consigneeNames!}</span>的委托关系？</label>
					<textarea class="form-control mt-3" id="notes" maxlength="50" rows="5" name="notes" ></textarea>
				</div>
			</div>
    	</form>
	</div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script>
    let formId = "saveForm";
    $("#" + formId).validate({
        onkeyup: false,
        rules: {
        	notes: {
                required: true,
            }
        },
        messages: {
        	notes: {
                required: "解除原因必填",
            }
        },
        focusCleanup: true
    });

    function submitHandler(e) {
       /*  if (!$.validate.form(formId)) {
            return false;
        } */
        let url = "${contextPath}/contract/remove.action";
        $.modal.confirm("确认解除合同吗?", function (sure) {
            if (!sure) {
                return;
            }
            let data = $.common.formToJSON('saveForm');
            bui.util.debounce($.operate.post(url, data), 1000, true)

        });
        //return true;
    }
</script>
