<#bs4Body>
<style>
	.div_model{
		width:400px;
		height:200px;
		text-align: center;
	}
	.textarea_model{
		width:400px;
		height:100px;
	}
</style>
<div style="text-align: center;">
	<div >
		<form  id="saveForm">
		<input id="id" name="id" type="hidden" value="${detail.id!}" class="form-control"/>
        	<div class="form-group col-auto">
                <label>确认解除<font color="#FC1D24">${detail.consignorName!}</font>和<font color="#FC1D24">${detail.consigneeNames!}</font>的委托关系？</label>
                <div><textarea class="textarea_model" id="notes" maxlength="50" name="notes"></textarea></div>
            </div>
    	</form>
	</div>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script>
    let formId = "saveForm";
    $("#" + formId).validate({
        onkeyup: false,
        rules: {
        	notes: {
                required: true,
            }
        },
        messages: {
        	notes: {
                required: "解除原因必填",
            }
        },
        focusCleanup: true
    });

    function submitHandler(e) {
       /*  if (!$.validate.form(formId)) {
            return false;
        } */
        let url = "${contextPath}/contract/remove.action";
        $.modal.confirm("确认解除合同吗?", function (sure) {
            if (!sure) {
                return;
            }
            let data = $.common.formToJSON('saveForm');
            bui.util.debounce($.operate.post(url, data), 1000, true)

        });
        //return true;
    }
</script>
