<#bs4Body>
<style>
    .info-column {
        width: 30%;
        font-weight: bold;
        text-align: right;
    }
    .info-cell{
        width: 70%;
        text-align: left;
    }

    .vertical-td {
        display: table-cell;
        vertical-align: middle !important;
    }
</style>
<div id="detail-modal">
	<form id="savePayerForm">
		<input id="action" name="action" type="hidden" value="2"
			class="form-control" /> <input id="actionText" name="actionText"
			type="hidden" value="交款" class="form-control" />
		<div class="row row-cols-5">
			<div class="form-group col">
				<label for="userCode">柜员工号</label>
				<div class="info-cell">${detail.userCode!}</div>
				<input id="userCode" name="userCode" type="hidden"
					value="${detail.userCode!}" /> <input id="userId" name="userId"
					type="hidden" value="${detail.userId!}" />
			</div>
			<div class="form-group col">
				<label for="userName" class="info-column">柜员姓名</label>
				<div class="info-cell" id="_userName">${detail.userName!}</div>
				<input id="userName" name="userName" type="hidden"
					value="${detail.userName!}" />
			</div>
			<div class="form-group col">
				<label for="amountYuan" class="info-column">交款金额</label> <input
					id="amountYuan" name="amountYuan" type="text" class="form-control" />
			</div>
			<div class="form-group col">
				<label for="bigAmount" class="info-column vertical-td">大写金额</label>
				<div class="info-cell"
					style="word-wrap: break-word; word-break: break-all;">
					<font color="#FC1D24"><strong><span id="bigAmount"></span></strong></font>
				</div>
			</div>
			<div class="form-group col">
				<label for="notes" class="info-column vertical-td">备注</label>
				<div class="info-cell">
					<textarea style="width: 240px;" maxlength="20" id="notes"
						name="notes"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>
</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript"
	src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script>
	$(function() {
		$('#amountYuan').bind(
				' input propertychange ',
				function() {
					$('#bigAmount').html(
							$.common.changeNumMoneyToChinese($('#amountYuan')
									.val()));
				});
		$("#amountYuan").on(
				'input  propertychange',
				function() {
					//如果输入非数字，则替换为''
					this.value = this.value.replace(/[^\d\.]/g, '');
					//必须保证第一个为数字而不是.
					this.value = this.value.replace(/^\./g, '');
					//保证只有出现一个.而没有多个.
					this.value = this.value.replace(/\.{2,}/g, '.');
					//保证.只出现一次，而不能出现两次以上
					this.value = this.value.replace('.', '$#$').replace(/\./g,
							'').replace('$#$', '.');
					//只能输入两位小数
					this.value = this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,
							'$1$2.$3');
				});
	});
	let formId = "savePayerForm";
	$("#" + formId).validate({
		onkeyup : false,
		rules : {
			amountYuan : {
				required : true,
				gt : 0.00,
				max : 999999.99
			}
		},
		messages : {
			amountYuan : {
				required : "交款金额必填",
				gt : "金额必须大于{0}元",
				max : "金额不能超过{0}元"
			}
		},
		focusCleanup : true
	});
	function submitHandler(e) {
		if (!$.validate.form(formId)) {
			return false;
		}
		let url = "${contextPath}/cash/save.action";
		$.modal
				.confirm(
						"<div style='text-align: center;margin-bottom:10px;'>确认"
								+ '<font color="#FC1D24"><span>'
								+ $("#_userName").html()
								+ '</span></font>'
								+ $("#actionText").val()
								+ "</div>"
								+ '<p style="text-align: center;"><font> <span style="font-size: 30px;"> ￥'
								+ $("#amountYuan").val()
								+ "</span></font></p>"
								+ '<p style="text-align: center;"><font color="#FC1D24"> <span style="font-size: 30px;">'
								+ $("#bigAmount").html() + "</span></font></p>",
						function(sure) {
							if (!sure) {
								return;
							}
							let data = $.common.formToJSON(formId);
							data.amount = parseInt(parseFloat(data.amountYuan) * 100);
							bui.util.debounce($.operate.post(url, data), 1000,
									true);
						});
		return true;
	}
</script>
