<#bs4Body>
<style>
	.form-inline .col {
		padding: 0;
	}
	.div_label {
		width: 180px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #F6F7F9;
	}
	.form-inline .form-control {
		width: calc(100% - 200px );
	}
	.form-inline .form-group {
		border-bottom: 1px solid #eee;

	}
	.form-inline .form-control {
		border: none;

	}
	.form-inline .form-control:disabled, .form-control[readonly] {
		background-color: #fff;

	}

</style>
<div id="detail-modal" class="main-container container-fluid auto-margin"  style="width: 80%">
	<form id="queryForm" class="form-inline">
		<input type="hidden" name="userId" id="userId" value="${detail.userId!}">
		<input type="hidden" name="id" id="id" value="${detail.id!}">
		<input type="hidden" name="cycleNo" id="cycleNo" value="${detail.cycleNo!'-1'}">
		<input type="hidden" id="isStatistic" name="isStatistic" value="false">
		<input type="hidden" id="detailState" name="detailState" value="${detail.state}">
		<input type="hidden" name="operatorId" id="operatorId" value="${detail.userId!}">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="10">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="11">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="12">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="13">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="14">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="15">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="16">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="17">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="18">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="19">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="25">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="26">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="20">
		<input type="hidden" name="operateTypeList" id="operateTypeList[0]" value="24">
		<input type="hidden" class="form-control" id="show_print_data" />
		<div id="baseInfo" >
				<div class="row row-cols-2" id="baseContent">
					<div class="form-group col">
							<label for="cycleNo" class="div_label">账期编号</label>
	            			<input type="text" class="form-control" value="${detail.cycleNo!}" readonly/>
	           	 	</div>
	            	<div class="form-group col">
							<label for="cycleNo" class="div_label">账期时间</label>
	            			<input type="text" id="startAndEndTime" class="form-control" value='${detail.startTime!"--"}至${detail.endTime!"--"}' readonly/>
					</div>
					<div class="form-group col">
							<label for="cycleNo" class="div_label">柜员工号</label>
							<input id="userCode" type="text" class="form-control" value="${detail.userCode!}" readonly/>
	            	</div>
	            	<div  class="form-group col">
							<label for="cycleNo" class="div_label">柜员名称</label>
							<input id="userName" type="text" class="form-control" value="${detail.userName!}" readonly/>
	            	</div>
					<div class="form-group col">
							<label for="cycleNo" class="div_label">领款金额|${detail.accountCycleDetailDto.receiveTimes!}笔</label>
							<input type="text" class="form-control" value="${detail.accountCycleDetailDto.receiveAmountText!}" readonly/>
	            	</div>
					<div class="form-group col">
						<label for="cycleNo" class="div_label">交款金额|${detail.accountCycleDetailDto.deliverTimes!}笔</label>
						<input type="text" class="form-control" value="${detail.accountCycleDetailDto.deliverAmountText!}" readonly/>
					</div>
	            	<div class="form-group col">
	            			<label for="cycleNo" class="div_label">网银收款|${detail.accountCycleDetailDto.bankInTimes!}笔</label>
							<div class="input-group">
								<input type="text" class="form-control" value="${detail.accountCycleDetailDto.beforeReverseBankInAmountText!}" readonly/>
								<input type="text" class="form-control" value="修正后金额：${detail.accountCycleDetailDto.bankInAmountText!}" readonly/>
							</div>
	            	</div>
	            	<div class="form-group col">
							<label for="cycleNo" class="div_label">网银支出|${detail.accountCycleDetailDto.bankOutTimes!}笔</label>
							<div class="input-group">
								<input type="text" class="form-control" value="${detail.accountCycleDetailDto.beforeReverseBankOutAmountText!}" readonly/>
								<input type="text" class="form-control" value="修正后金额：${detail.accountCycleDetailDto.bankOutAmountText!}" readonly/>
							</div>
	            	</div>
					<div class="form-group col">
							<label for="cycleNo" class="div_label">现金收款|${detail.accountCycleDetailDto.depoCashTimes!}笔</label>
							<div class="input-group">
								<input type="text" class="form-control" value="${detail.accountCycleDetailDto.beforeReverseDepoCashAmountText!}" readonly/>
								<input type="text" class="form-control" value="修正后金额：${detail.accountCycleDetailDto.depoCashAmountText!}" readonly/>
							</div>
	            	</div>
					<div class="form-group col">
							<label for="cycleNo" class="div_label">现金支出|${detail.accountCycleDetailDto.drawCashTimes!}笔</label>
						<div class="input-group">
							<input type="text" class="form-control" value="${detail.accountCycleDetailDto.beforeReverseDrawCashAmountText!}" readonly/>
							<input type="text" class="form-control" value="修正后金额：${detail.accountCycleDetailDto.drawCashAmountText!}" readonly/>
						</div>
	            	</div>
					<div class="form-group col">
							<label for="cycleNo" class="div_label">未交现金余额</label>
							<input type="text" id="unDeliverAmount" class="form-control" value="${detail.accountCycleDetailDto.unDeliverAmountText!}" readonly/>
	            	</div>
	            	<div class="form-group col">
						<label for="cycleNo" class="div_label">POS收款|${detail.accountCycleDetailDto.depoPosTimes!}笔</label>
						<div class="input-group">
							<input type="text" class="form-control" value="${detail.accountCycleDetailDto.beforeReverseDepoPosAmountText!}" readonly/>
							<input type="text" class="form-control" value="修正后金额：${detail.accountCycleDetailDto.depoPosAmountText!}" readonly/>
						</div>
					</div>
	            	<% if(detail.state != 1){ %>
		            	<div class="form-group col">
								<label for="cycleNo" class="div_label">结账交款金额</label>
								<input type="text" id="applyPayerAmount"  class="form-control" value='${detail.accountCycleDetailDto.lastDeliverAmountText!}' readonly/>
		            	</div>
	            	<% } %>
				</div>
		</div>
		<div class="col align-self-center" style="text-align: center;margin-bottom: 20px;margin-top: 10px;">

			<% if(settled != 2 && detail.state == 1){ %>
			<button id="apply" type="button"
					class="btn btn-primary px-5" onclick="applySettlement()">申请结账</button>
			<% } %>
			<% else if(settled == 2){ %>
				<button id="back" type="button" class="btn btn-secondary px-5" onclick="backList()">返回</button>
			<% }%>

			<% if(settled == 2 && detail.state == 2){ %>
				<button id="detailFlatedBtn" type="button" class="btn btn-primary px-5" onclick="detailFlated()"><i class="fa fa-paypal"></i> 对账</button>
			<% }%>

			<% if(showPrintBtn == "true"){ %>
				<#resource code="cycle_print_btn">
					<button id="printBtn" type="button" class="btn btn-primary px-5" onclick="printCycleData()">打印</button>
		        </#resource>
			<% }%>
			<% if(showSettlePrintBtn == "true"){ %>
				<#resource code="settle_print_btn">
					<button id="printBtn" type="button" class="btn btn-primary px-5" onclick="printSettleData()">打印</button>
		        </#resource>
			<% }%>
			<!-- 结账打印 -->
			<div id="printBtnDiv" style="display: none">
				<#resource code="cycle_print_btn">
					<button id="printBtn" type="button" class="btn btn-primary px-5" onclick="printCycleData()">打印</button>
		        </#resource>
			</div>
			<!-- 对帐打印 -->
			<input id="cycleState" type="hidden" value="${detail.state!}">
		</div>
	</form>
</div>
<div class="main-container container-fluid">
	<ul id="detailTab" class="nav nav-tabs" role="tablist">
		<#resource code="payeeList">
		<li class="nav-item"><a class="nav-link" id="payee-tab"
			onclick="payeeActive()" uri="/cash/payeeListTab.html"
			data-toggle="tab" href="#payee-record" role="tab"
			aria-selected="true">
				<h6 class="nav-title">领款明细</h6>
		</a></li>
		</#resource>
		<#resource code="payerList">
		<li class="nav-item">
			<a class="nav-link" id="payer-tab"
			onclick="payerActive()" uri="/cash/payerListTab.html"
			data-toggle="tab" href="#payer-record" role="tab">
				<h6 class="nav-title">交款明细</h6>
		    </a>
		</li>
		</#resource>
		<#resource code="serialList">
		<li class="nav-item">
			<a class="nav-link" id="operation-tab"
			onclick="operationActive()" uri="/cycle/serialTab.html"
			data-toggle="tab" href="#operation-record" role="tab">
				<h6 class="nav-title">操作记录</h6>
		    </a>
		</li>
		</#resource>
		<li class="nav-item">
			<a class="nav-link" id="reverse-tab"
			onclick="reverseActive()" uri="/cycle/reverseTab.html"
			data-toggle="tab" href="#reverse-record" role="tab">
				<h6 class="nav-title">冲正记录</h6>
		    </a>
		</li>
	</ul>
</div>
<div id="detailTabContent" class="tab-content border-top-0">
	<div class="tab-pane tab-info" id="payee-record" role="tabpanel">
		<div class="row" id="table-payee">
			<div class="col-12">
				<table id="payee-table" data-buttons-class="primary"
					data-icons="bui.variable.icons">
					<thead>
						<tr>
							<th data-field="cashNo" data-align="center">领款编号</th>
							<th data-field="amountText" data-align="center">领款金额</th>
							<th data-field="createTime" data-align="center">领款时间</th>
							<th data-field="notes" data-align="center">说明</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="tab-pane tab-info" id="payer-record" role="tabpanel">
		<div class="row" id="table-payer">
			<div class="col-12">
				<table id="payer-table" data-buttons-class="primary"
					data-icons="bui.variable.icons">
					<thead>
						<tr>
							<th data-field="cashNo" data-align="center">交款编号</th>
							<th data-field="amountText" data-align="center">交款金额</th>
							<th data-field="createTime" data-align="center">交款时间</th>
							<th data-field="notes" data-align="center">说明</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="tab-pane tab-info" id="operation-record" role="tabpanel">
		<div class="container-fluid" id="table-operation">
			<div class="row">
				<div class="col-12">
					<table id="serial-table" data-toggle="table"
						data-icons="bui.variable.icons" data-buttons-class="primary">
						<thead>
							<tr>
								<th data-field="serialNo" data-align="center">业务流水号</th>
								<th data-field="customerName" data-align="center">客户名称</th>
								<th data-field="cardNo" data-align="center">卡号</th>
								<th data-field="holdName" data-align="center">持卡人</th>
								<th data-field="typeText" data-align="center">操作业务</th>
								<th data-field="startBalanceText" data-align="center">期初金额
								</th>
								<th data-field="amountText" data-align="center">操作金额</th>
								<th data-field="endBalanceText" data-align="center">账户余额</th>
								<th data-field="operateTime" data-align="center">操作时间</th>
								<th data-field="notes" data-align="center" data-sortable="false">
									备注</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane tab-info" id="reverse-record" role="tabpanel">
		<div class="container-fluid" id="table-reverse">
			<div class="row">
				<div class="col-12">
					<table id="reverse-table" data-toggle="table"
						data-icons="bui.variable.icons" data-buttons-class="primary">
						<thead>
						  <tr>
							<th data-field="serialNo" data-align="center">
								业务流水号
							</th>
							<th data-field="bizSerialNo"  data-align="center" >
								对应原业务流水号
							</th>
							<th data-field="bizTypeText"  data-align="center" >
								对应原业务
							</th>
							<th data-field="amountText" data-align="center">
								冲正金额
							</th>
							<th data-field="inAccChangeAmountText" data-align="center">
								园区收益账户变动
							</th>
							<th data-field="opName" data-align="center">
								操作员姓名
							</th>
							<th data-field="createTime" data-align="center">
								操作时间
							</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="settleCycle" tabindex="-1" role="dialog"
	aria-labelledby="addSecondModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 550px; height: 240px;">
		<div class="modal-content" style="width:550px; height: 240px;">
			<div class="modal-header"
				style="background-color: #E6E6E6; height: 45px;">
				<h5 style="height-line: 45px;">结账确认</h5>
				<span data-dismiss="modal""><i class="fa fa-times"></i></span>
			</div>
			<div class="modal-body" style="overflow: auto;">
				<form id="settleForm" style="width: 90%;">
					<div id="baseInfo" >
							 <div class="row row-interval">
								<div class="info-column1 col-4" valign="middle">结账交款金额</div>
								<div class="info-cell1 col-8"><input id="settleAmount" maxlength="10"
									name="settleAmount" type="text" class="form-control" /></div>
							</div>
					</div>
				</form>
			</div>
			<div
				style="display: table-cell; text-align: center; margin-top: 15px; margin-bottom: 20px;">
				<div style="width: 49%; float: left;">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" style="width: 100px;">取消</button>
				</div>
				<div style="width: 49%; float: left;">
					<button type="button" class="btn btn-primary"
							style="width: 100px;" onclick="doSettle()">确定</button>
				</div>
			</div>
		</div>
	</div>
</div>
</#bs4Body>
<#common_commonJs/>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/jquery.validate.extend.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/form.formatter.js"></script>
<link rel="stylesheet" href="${contextPath}/resources/css/sword.css">
<script>
	let cycleNo = $.trim($("#cycle").text());
	let operatorId = $("#userId").val();
	let teter = $("#table-payer").prop("outerHTML");
	let tetee = $("#table-payee").prop("outerHTML");
	let tetoperation = $("#table-operation").prop("outerHTML");
	let tetreverse = $("#table-reverse").prop("outerHTML");
	let isteter = false;
	let istetee = false;
	let istetoperation = false;
	let istetreverse = false;
	$(function() {
		$('#settleCycle').on('show.bs.modal', centerModals);
		if($("#cycleState").val() == 2){
			$("#apply").attr("disabled", "disabled");
		}
		istetee = true;
		$("#table-payer").remove();
		$("#table-payee").remove();
		$("#table-operation").remove();
		$("#payee-record").addClass('show active');
		$("#payee-tab").addClass('active');
		$("#payee-record").append(tetee);
		var options = {
			id : "payee-table",
			url : "${contextPath}/cash/payeeList.action"
		};
		$.table.init(options);

		$("#settleAmount").on('input  propertychange', function () {
			//如果输入非数字，则替换为''
			this.value = this.value.replace(/[^\d\.]/g, '');
			//必须保证第一个为数字而不是.
			this.value = this.value.replace(/^\./g, '');
			//保证只有出现一个.而没有多个.
			this.value = this.value.replace(/\.{2,}/g, '.');
			//保证.只出现一次，而不能出现两次以上
			this.value = this.value.replace('.', '$#$').replace(/\./g, '').replace('$#$', '.');
			//只能输入两位小数
			this.value = this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');
		});
	});

	function applySettlement() {
		$('#settleAmount').val("");
		$('#settleCycle').modal('show');
		return true;
	}

	function close() {
		$('#settleAmount').val("");
		$('#settleCycle').modal('hide');
		return true;
	}

	$("#settleForm").validate({
	    onkeyup: false,
	    rules: {
	    	settleAmount: {
	            required: true
	        }
	    },
	    messages: {
	    	settleAmount: {
	            required: "交款金额必填"
	        }
	    },
	    focusCleanup: true
	});

	var settled = '<div class="form-group col"><label for="cycleNo" class="div_label">结账交款金额</label><input type="text" id="applyPayerAmount"  class="form-control" value="applyPayerAmountValue" readonly/></div>'

	function doSettle() {
		if (!$.validate.form("settleForm")) {
	        return false;
	    }
		var settleAmount = parseFloat($.trim($("#settleAmount").val()));
		var balanceCash = parseFloat($.trim($("#unDeliverAmount").val()));
		if(settleAmount != balanceCash){
			$.modal.alertError("交款金额与现金余额不一致");
			return false;
		}
		let url = "${contextPath}/cycle/applySettle.action";
		let data = {};
		data.userId = $('#userId').val();
		data.userCode = $('#userCode').val();
		data.userName = $('#userName').val();
		data.cashAmount = parseInt(parseFloat($('#settleAmount').val()*100).toFixed(2));
		bui.util.debounce($.operate.saveModal(url, JSON.stringify(data), function (result) {
	            if (result.code == web_status.SUCCESS) {
	            	$("#applyPayerAmount").val($("#unDeliverAmount").val());
	            	let settled1 = settled;
	            	settled1 = settled1.replace("applyPayerAmountValue", $("#unDeliverAmount").val());
	            	$("#baseContent").append(settled1);
	            	$("#unDeliverAmount").val(0);
	            	var dateCycle = $("#startAndEndTime").val();
	            	$("#startAndEndTime").val(dateCycle.replace("--", result.data.endTime));
	                $.table.refresh()

	                // 显示打印按钮
	               $("#printBtnDiv").show();
	            }
	    }), 1000, true)
		$("#apply").hide();
		$('#settleAmount').val("");
		$('#settleCycle').modal('hide');
	}

	function backList() {
		window.location.href = "${contextPath}/cycle/list.html";
	}

	function payeeActive() {
		if (istetee) {
			return;
		}
		istetee = true;
		isteter = false;
		istetoperation = false;
		$("#table-payee").remove();
		$("#table-payer").remove();
		$("#table-operation").remove();
		$("#table-reverse").remove();
		$("#payee-record").addClass('show active');
		$(this).addClass('active');
		$("#payee-record").append(tetee);
		var options = {
			id : "payee-table",
			url : "${contextPath}/cash/payeeList.action"
		};
		$.table.init(options);
	}

	function payerActive() {
		if (isteter) {
			return;
		}
		isteter = true;
		istetee = false;
		istetoperation = false;
		istetreverse = false;
		$("#table-payee").remove();
		$("#table-payer").remove();
		$("#table-operation").remove();
		$("#table-reverse").remove();
		$("#payer-record").addClass('show active');
		$(this).addClass('active');
		$("#payer-record").append(teter);
		var options = {
			id : "payer-table",
			url : "${contextPath}/cash/payerList.action"
		};
		$.table.init(options);
	}

	function operationActive() {
		if (istetoperation) {
			return;
		}
		istetoperation = true;
		isteter = false;
		istetee = false;
		istetreverse = false;
		$("#table-payer").remove();
		$("#table-payee").remove();
		$("#table-operation").remove();
		$("#table-reverse").remove();
		$("#operationr-record").addClass('show active');
		$(this).addClass('active');
		$("#operation-record").append(tetoperation);
		var options = {
			id : "serial-table",
			url : "${contextPath}/serial/business/page.action",
			sortName: "operate_time"
		};
		$.table.init(options);
	}

	function reverseActive() {
		if (istetreverse) {
			return;
		}
		istetreverse = true;
		isteter = false;
		istetee = false;
		istetoperation = false;
		$("#table-payer").remove();
		$("#table-payee").remove();
		$("#table-operation").remove();
		$("#table-reverse").remove();
		$("#reverse-record").addClass('show active');
		$(this).addClass('active');
		$("#reverse-record").append(tetreverse);
		var options = {
			id : "reverse-table",
			url : "${contextPath}/reverse/page.action",
			sortName: "create_time"
		};
		$.table.init(options);
	}


	function centerModals() {
	　　$('#settleCycle').each(function(i) {
	　　　　var $clone = $(this).clone().css('display','block').appendTo('body');
	　　　　var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
	　　　　top = top > 0 ? top : 0;
	　　　　$clone.remove();
	　　　　$(this).find('.modal-content').css("margin-top", top);
	　　});
	};

	// 结帐申请打印
	function printCycleData(){
		var applyPayerAmount = $('#applyPayerAmount').val();
		var userId = $("#userId").val();
   	 	var url = '${contextPath}/cycle/print.action?userId=' + userId+'&settleAmount='+applyPayerAmount;
		$.ajax({
    	    type: "GET",
    	    url:url,
    	    contentType: "application/x-www-form-urlencoded",
    	    error: function(result) {
    	    	$.modal.alertError(result.message);
    	    },
    	    success: function(result) {
    	    	var jsonData = JSON.stringify(result.data);
    	    	if(result.code=="200"){
					printPreview(jsonData, "", "cycleDocument", 0);
    	    	}else{
    	    		$.modal.alertError(result.message);
    	    	}
    	    }
    	});
	}

	// 详情对帐
	function detailFlated(){
		var id = $("#id").val();
    	var detailState = $("#detailState").val();
    	if(detailState == 1){
    		$.modal.alertError("活跃账单不能对账");
    		return false;
    	}
    	if(detailState == 3){
    		$.modal.alertError("已平账账单不能重复操作");
    		return false;
    	}
    	var url = "${contextPath}/cycle/flated.html?id="+id;
    	$.modal.openDefault("对账", url,"auto","auto" );
    }

	//对账完成打印
	function printSettleData(){
		var userId = $("#userId").val();
		var id = $("#id").val();
		var url = '${contextPath}/cycle/settlePrint.action?id=' + id+'&userId='+userId;
		$.ajax({
		    type: "GET",
		    url:url,
		    contentType: "application/x-www-form-urlencoded",
		    error: function(result) {
		    	$.modal.alertError(result.message);
		    },
		    success: function(result) {
				var jsonData = JSON.stringify(result.data);
				if (result.code == "200") {
					printPreview(jsonData, "", "settleDocument", 0);
				} else {
					$.modal.alertError(result.message);
				}
		    }
		});
	}
</script>
