<#bs4Body>
<div id="detail-modal" style="text-align: center;">
	<div id="div_model">
		<form  id="flated" role="form" >
			<div class="" style="margin-top: 60px;">
				<input id="id" name="id" type="hidden" value="${detail.id!}" class="form-control"/>
				<label>确认要对<span class="red font-weight-bold">${detail.userName!}</span>进行对账吗？</label>
			</div>
    	</form>
	</div>
</div>
</#bs4Body>
<#common_commonJs/>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<script>

function submitHandler(e) {
    let url = "${contextPath}/cycle/flated.action";
    let data = $.common.formToJSON("flated");
    $.operate.post(url, data, function(ret){
    	if(ret.success){
    		printSettleData();
			parent.location.reload(true);
    	}
    });
    return false;
}

//对账完成打印
function printSettleData(){
	var id = $("#id").val();
	var url = '${contextPath}/cycle/settlePrint.action?id=' + id;
	//同步请求，避免
	$.ajax({
	    type: "GET",
	    url:url,
		async:false,
	    contentType: "application/x-www-form-urlencoded",

	    error: function(result) {
	    	$.modal.alertError(result.message);
	    },
	    success: function(result) {
	    	var jsonData = JSON.stringify(result.data);
	    	if(result.code=="200"){
				printData(jsonData,"settleDocument");
	    	}else{
	    		$.modal.alertError(result.message);
	    	}
	    }
	});
}
</script>
