<#bs4Body>
<style>
	.div_model{
		width:400px;
		height:200px;
		text-align: center;
	}
	.textarea_model{
		width:280px;
		height:60px;
	}
</style>
<div id="detail-modal" style="text-align: center;">
	<div id="div_model">
		<form  id="queryForm" role="form" >
			<input id="id" name="id" type="hidden" value="${cycle.id!}" class="form-control"/>
        	<div class="form-group col-auto">
                <label for="cardNo">确认要对<font color="#FC1D24">${cycle.userName!}</font>进行对账吗？</label>
            </div>
    	</form>
	</div>
</div>    
</#bs4Body>
