<#bs4Body>
<div class="main-container container-fluid">

    <form  id="queryForm" role="form" >
        <div class="row row-cols-6">
            <div class="form-group col">
                <label for="userId">柜员</label>
                <#bautoCompleteProvider
                _hiddenDomainId="userId"
                _hiddenDomainName="userId"
                _displayDomainId="userName"
                _displayDomainName="userName"
                _placeholder="" _optionVariable="userNameQueryAutoCompleteOption"/>
            </div>
            <div class="form-group col">
                <label for="creatorId">财务员</label>
                <#bautoCompleteProvider _hiddenDomainId="auditorId" _hiddenDomainName="auditorId" _displayDomainId="creatorName" _displayDomainName="creatorName" _placeholder="" _optionVariable="userNameQueryAutoCompleteOption"/>
            </div>
            <div class="form-group col">
                <label for="states">状态</label>
                <select name="states" id="states"  class="form-control" required multiple>
                    <option value="1">活跃</option>
                    <option value="2">已结账</option>
                </select>
                <#bselect2 _id="states" _provider="cycleStateProvider" _mode="remote" _value="[1,2]"  _queryParams='{emptyText:"--全部--"}' />
            </div>
            <div class="col-auto align-self-center mt-3">
                <button id="clear" type="button" class="btn btn-outline-primary mr-2" onclick="clearParams()"><i class="fa fa-refresh"></i> 清空</button>
                <button id="query" type="button" class="btn btn-outline-primary" onclick="$.table.search()"><i class="fa fa-search"></i> 查询</button>
            </div>
        </div>

    </form>


<hr>
<div class="row" >
    <div class="col-12">
        <div id="toolbar" class="btn-group" role="group" aria-label="Toolbar with button groups">
            <#resource code="viewCycle">
            <button id="btn_add" type="button" class="btn btn-primary" onclick="$.operate.detailToPage(null)"><i class="fa fa-list"></i> 查看详情</button>
        </#resource>
        <#resource code="sponsorPay">
        <button id="btn_modify" type="button" class="btn btn-primary" onclick="addPayer()"><i class="fa fa-credit-card"></i> 发起交款</button>
    </#resource>
    <#resource code="flatedCycle">
    <button id="btn_delete" type="button" class="btn btn-primary" onclick="flated()"><i class="fa fa-paypal"></i> 对账</button>
    </#resource>
    <#resource code="exportCycle">
    <button id="btn-export" type="button" class="btn btn-primary" onclick="$.table.exportExcel('queryForm')"><i
            class="fa fa-file-excel-o"></i>
        导出
    </button>
    </#resource>
</div>
        <table id="grid"
        	   data-title="对账管理列表"
               data-show-fullscreen="true"
               data-buttons-class="primary"
               data-icons="bui.variable.icons">
            <thead>
            <tr>
            	<th data-radio="true"></th>
                <th data-field="cycleNo"data-align="center" >
                    账期编号
                </th>
                <th data-field="userCode" data-align="center"  >
                    柜员工号
                </th>
                <th data-field="userName" data-align="center">
                    柜员名称
                </th>
                <th data-field="receiveAmountText" data-align="center" data-type="number">
                   领款金额
                </th>
                <th data-field="revenueAmountText" data-align="center" data-type="number">
                   现金余额
                </th>
                <th data-field="depoPosAmountText" data-align="center" data-type="number" >
        POS存款
                </th>
                <th data-field="bankInAmountText"  data-align="center" data-type="number">
                   网银存款
                </th>
                <th data-field="bankOutAmountText"  data-align="center" data-type="number">
                   网银取款
                </th>
                <th data-field="deliverAmountText" data-align="center" data-type="number">
                    交款金额
                </th>
                 <th data-field="unDeliverAmountText" data-align="center" data-type="number">
                    未交现金金额
                </th>
                <th data-field="lastDeliverAmountText" data-align="center" data-type="number">
                    结账交款现金金额
                </th>
                 <th data-field="stateText" data-align="center">
                    账期状态
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</div>

</#bs4Body>
<script type="text/javascript" src="${contextPath}/resources/js/sword.js"></script>
<#common_userJs/>
<#common_commonJs/>
<script>
    $(function () {
    	initCycle();
    });

    function initCycle(){
    	let options = {
                //必须加这个唯一标识
                uniqueId: "id",
                detailUrl: "${contextPath}/cycle/detail.html?id={id}",
                createUrl: "${contextPath}/cycle/addPayer.html?id={id}",
                updateUrl: "${contextPath}/cycle/flated.html?id={id}",
                url: "${contextPath}/cycle/page.action",
                singleSelect : true,
                contentType: "application/json",
                modalName: "对账款列表查询",
                queryParams:queryParamToJson
            };
            $.table.init(options);
    }

 // 查询条件
    function queryParamToJson(params) {
        let currentId = $.common.isEmpty(table.options.formId) ? 'queryForm' : table.options.formId;
        let curParams = {
            // 传递参数查询参数
            rows: params.limit,
            page: params.offset / params.limit + 1,
            searchValue: params.search,
            sort: params.sort,
            order: params.order
        };
        let data = $.common.formToJSON(currentId);
        if(!$.common.isEmpty(data.states)){
        	data.states = data.states.split(",");
        }
        return $.extend(curParams, data);
    }

    function clearParams(){
    	$("#states").find("option").each(function(i){
			$(this).remove();
		});
    	$.form.reset();
    }

    function flated(){
    	var row=$("#grid").bootstrapTable('getSelections');
    	if (row.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return false;
        }
    	if(row[0].state == 1){
    		$.modal.alertError("活跃账单不能对账");
    		return false;
    	}
    	if(row[0].state == 3){
    		$.modal.alertError("已平账账单不能重复操作");
    		return false;
    	}
    	$.operate.editWithTitle(null,'360px','auto','信息确认');
    }

    function addPayer(){
    	var row=$("#grid").bootstrapTable('getSelections');
    	if (row.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return false;
        }
    	if(row[0].state == 2){
    		$.modal.alertError("结账账单不能发起交款");
    		return false;
    	}
    	if(row[0].state == 3){
    		$.modal.alertError("已平账账单不能发起交款");
    		return false;
    	}
    	$.operate.addWithTitleAndSelect(null,'400px','540px','新增交款');
    }
</script>
